@charset "utf-8";
/* CSS Document */

html{ height:100%; width:100%; margin:0 0 20px 0; overflow:hidden; }
body{ height:100%; width:100%; margin:0 0 20px 0; overflow-y:auto; font-family:Calibri, Verdana, Geneva, sans-serif; }

/* CONTAINER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#OverAllContainer { width:100%; height:100%; padding:0 0 0 0; overflow:hidden; }

.RightContainer { float:left; height:100%; width:100%; position:relative; overflow:visible; white-space:nowrap; margin:0; padding:0; border-left:none; }

.HeaderSpacer { height:3px; width:100%; overflow:hidden; white-space:nowrap; background:#FFF; font-family:Arial,Helvetica,sans-serif; font-size:3px; font-weight:normal; color:#fec;	}


#Modal{ background:rgba(0,145,145,.5); display:none; height:100%; left:0; position:absolute; text-align:center; top:0; width:100%; z-index:10000; }
#Modal2{background:rgba(0,145,145,.5); display:none; height:100%; left:0; position:absolute; text-align:center; top:0; width:100%; z-index:20000; }

.ModalBox{-webkit-box-shadow:rgba(0, 0, 0, .25) 8px 8px 8px; position:absolute; display:none; top:96px; left:35%; width:30%; height:448px; z-index:10010; }

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#NewMfgBox{ background:#FFF; display:none; font-family:Georgia, "Times New Roman", Times, serif; height:96px; left:30%; padding:0; top:15%; width:384px; z-index:20100; }
#NewPartBox{ background:#FFF; display:none; font-family:Georgia, "Times New Roman", Times, serif; height:400px; left:20%; padding:0; top:5%; width:640px; z-index:10100; }
	.newPartBoxRow{height:20px; width:90%;}
		.newPartBoxRow div{border:#000 0px dotted; padding:0;}
		.newPartBoxRow label{border:#000 0px dotted; padding:0;}
		.newPartBoxRow input{height:100%;}
		
		.newPartLabel{ float:left; text-align:right; white-space:nowrap; width:33%; }
		.newPartTxt{ float:left; text-align:left; white-space:nowrap; width:66%; }
		
/* Task Lists//////////////////////// Task Lists////////////////////////////////////////////////////////*/

#Lists { display:block; height:100%; margin:0; padding:0; overflow:hidden; width:100%; z-index:1500;}

#SearchSort{ height:52px; overflow:visible;}
#SearchBar {background:transparent; border-radius:2px; color:#111; float:left; height:64px; margin:0 0 0 10%; overflow:hidden; width:80%; 
 border:rgba(0,0,0,.5) 2px dotted;border-bottom:none; border-bottom-left-radius:0px;
}

#Top{ font-family:Verdana, Geneva, sans-serif; font-size:18px; height:4%; min-height:24px; text-align:left; width:100%; }
#path{ float:left; font-family:Verdana, Geneva, sans-serif; font-size:16px; height:32px; text-align:left; width:auto; }
#path a { color:blue; cursor:pointer;}

.Toolbar{ color:#444; font-family:Calibri, Arial, Helvetica, sans-serif; font-size:16px; height:5%; min-height:30px; padding:1px 0 0 0;	width:100%;	}
#btnRemove{float:right; width:86%; max-width:100%; text-overflow:ellipsis; margin:0 2% 0 0;}

.ControlLabel{ overflow:hidden; text-align:right; text-overflow:ellipsis; width:45%; }
.ControlInput{ font-size:15px; height:18px; margin:1px 0 0 0; text-overflow:ellipsis; width:35%;}
.ControlAddButton{ min-width:12%; max-width:12%; text-overflow:ellipsis; width:12%; }


.Menu{ position:absolute; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; width:144px; height:auto; border:#888 1px solid; background:#EEE; display:none; }
.MenuItem{ width:100%; height:25px; float:left; clear:both; cursor:pointer; }

#ListBody{ background:url("../../images/vTiger/homePageSeperator.gif") no-repeat scroll 0 0 transparent; margin:8px 0 0 0; overflow:hidden; padding:20px 0 0 0; height:99%; text-align:center; white-space:nowrap; width:100%; }
#ListHead { color:#000; font-family:Verdana,Helvetica,sans-serif; font-size:12px; height:32px; line-height:32px; margin:0 0 0 2%; overflow:hidden; position:absolute; white-space:nowrap; width:96%;
 border:1px #ccc solid; border-left:none; border-bottom:none; border-top-left-radius:4px; border-top-right-radius:4px; box-sizing:border-box;
 background:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(224,224,224,1) 50%, rgba(224,224,224,.9) 80%, rgba(192,192,192,.25));
 background:-webkit-gradient(linear,0 0,0 100%, from(rgba(255,255,255,1)), color-stop(.50, rgba(224,224,224,1)), color-stop(.8, rgba(224,224,224,.9)), to(rgba(192,192,192,.25)));
}
#ListHead div {border-left:1px rgba(128,128,128,.25) solid; float:left; height:100%; vertical-align:middle;}
#LItemsContainer{ overflow-x:hidden; overflow-y:auto; height:100%; padding:32px 0 0 0; min-width:792px; width:100%; float:left; }


.PartInfoTable { border:none; float:left; min-height:32px; margin:32px 0 0 2%; min-height:32px; overflow:hidden; padding:0; width:93.5%; }

.PartInfo { border:1px #ccc solid; float:left; min-height:32px; margin:0 0 0 2%; min-height:32px; overflow:hidden; padding:0; width:93.5%; }
.PartInfoTitle { color:#2E4615; font-family:Verdana, Calibri, Arial, sans-serif; float:left; font-size:14px; font-weight:bold; min-height:30px; height:5%; overflow:hidden; padding:4px 0 0 4px; margin:2.5% 0 0 2%; text-overflow:ellipsis; white-space:nowrap; width:93.5%; border-top-left-radius:6px; border-top-right-radius:6px;
	background:-moz-linear-gradient(90deg bottom right, rgba(192,192,192,1) 0%, rgba(248,248,248,1) 22%, rgba(244,244,244,1) 100%);
	background:-webkit-gradient(linear, 0 100%, 0 0, from(rgba(192,192,192,1)), color-stop(.22, rgba(248,248,248,1)), to(rgba(244,244,244,1))); 
}
.PartInfoTitle button{ border-radius:5px; border-width:1px; float:right; font-family:Calibri, Arial, sans-serif; font-size:16px; min-height:24px; height:80%;vertical-align: top; margin:0 3px; overflow:hidden; width:24px;
 background:-moz-linear-gradient(top, #fff, #fff 20%, #ccc 90%, #888);
 background:-webkit-gradient(linear,0 0,0 100%, from(#fff),color-stop(.1, #fff),color-stop(.9, #ccc), to(#888)); }
.PartInfoTitle button:hover{ border-color:#2E4615;
 background:-moz-linear-gradient(top, #F8FCF3, #F8FCF3 40%, #B1DB87 90%, #558327);
 background:-webkit-gradient(linear,0 0,0 100%, from(#F8FCF3),color-stop(.1, #F8FCF3),color-stop(.9, #B1DB87), to(#558327));
}
.PartInfoTitle button:active{ border-color:#2E4615;	border-top-width:2px;	border-bottom-width:0px; 
 background:-moz-linear-gradient(top, #DDEFCB, #DDEFCB 10%, #86C745 90%, #40631D);
 background:-webkit-gradient(linear,0 0,0 100%, from(#DDEFCB),color-stop(.1, #DDEFCB),color-stop(.9, #86C745), to(#40631D));
}
.PartInfoTitle button img{ min-height:16px;}

.PartInfoHeading { border-radius:2px; color:#2E4615; font-family:Verdana, Calibri, Arial, sans-serif; float:left; height:24px; width:100%;
	background:-moz-linear-gradient(90deg bottom right, rgba(224,224,224,1) 0%, rgba(240,240,240,.75) 22%, rgba(224,224,224,.75) 100%);
	background:-webkit-gradient(linear, 0 100%, 0 0, from(rgba(224,224,224,1)), color-stop(.22, rgba(240,240,240,.75)), to(rgba(224,224,224,.75))); 
}
.PartInfoHeading div{border-left:2px rgba(255,255,255,.9) solid; border-radius:2px; border-right:1px rgba(0,0,0,.25) solid; height:100%; overflow:hidden; padding:0; text-overflow:ellipsis; white-space:nowrap;}


.rollUp{color:black; cursor:pointer; float:left; font-family:Consolas, "Courier New", Courier, monospace; font-size:19px; margin-right:6px; text-decoration:none;}
.rollUp:hover{color:#40631D; text-shadow:#2e4615 0 1px 0,#B1DB87 0 -1px 0;}
.rollUp:active{color:#40631D; text-shadow:#2e4615 0 -1px 0,#B1DB87 0 1px 0;}

.PartInfoSingle {float:left; margin:0 0 0 1%; height:32px; width:95%;
 border-top-left-radius:10% 16px; border-bottom-left-radius:8px 16px;
 background:-moz-linear-gradient(0deg, rgba(0,0,0,.25), rgba(255,255,255,0)),-moz-linear-gradient(90deg, rgba(0,0,0,.0625), rgba(255,255,255,0));
 background:-webkit-gradient(linear,0 0,100% 0, from(rgba(0,0,0,.25)), to(rgba(255,255,255,0)));
 box-shadow:-7px 5px 4px 1px rgba(0,0,0,.5);
}
.PartInfoSingle div{float:left; padding:6px 0 0 0;}
.PartInfoSingleTitle {color:#2E4615; float:left; font-size:24px; font-weight:bold; margin:0 0 0 5%; padding-top:0 !important;}
#ExpTotal{ font-family:Consolas, "Cordia New", Courier, monospace; text-shadow:#2e4615 0 1px 0,#B1DB87 0 -1px 0;}

.graphBar {margin:10%; width:80%; height:80%; border-top-left-radius:8px; border-top-right-radius:8px; border:1px solid #000; overflow:hidden;}
.graphFill { width:100%; position:relative; border: 1px #066 solid; border-top-left-radius:4px; border-top-right-radius:4px; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
 background:-moz-linear-gradient(90deg, rgba(0,64,64,.5), rgba(0,255,255,.25)),-moz-linear-gradient(90deg, rgba(0,64,64,.125), rgba(0,255,255,.25));
 background:-webkit-gradient(linear,0 100%,0 0, from(rgba(0,64,64,.5)), to(rgba(0,255,255,.25)));
}