vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Jul 2010 13:59:29 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|01 Jul 2010 13:59:29 -0000
vti_filesize:IR|14445
vti_cachedlinkinfo:VX|S|Images/Arrow20X25R.gif S|Images/Arrow20X25L.gif S|Images/TrashCan20.gif S|Images/Clock20.gif S|Images/calender20.gif S|/WebSite/LMC/Images/down10.gif S|Images/I-10.gif S|/WebSite/LMC/Images/down10.gif
vti_cachedsvcrellinks:VX|NSUS|WebSite/LMCManagement/Old\\ Stuff/Images/Arrow20X25R.gif NSUS|WebSite/LMCManagement/Old\\ Stuff/Images/Arrow20X25L.gif NSUS|WebSite/LMCManagement/Old\\ Stuff/Images/TrashCan20.gif NSUS|WebSite/LMCManagement/Old\\ Stuff/Images/Clock20.gif NSUS|WebSite/LMCManagement/Old\\ Stuff/Images/calender20.gif NSUS|WebSite/LMC/Images/down10.gif NSUS|WebSite/LMCManagement/Old\\ Stuff/Images/I-10.gif NSUS|WebSite/LMC/Images/down10.gif
vti_lineageid:SR|{35EACCFB-7E3F-4DCA-ADB0-72FF180EEC1B}
vti_backlinkinfo:VX|
