#calDivDot { border-bottom:1px rgba(0,0,0,.25) solid; width:auto; height:auto; overflow:visible; position:absolute; z-index:100000; }

#calendarDiv{ width:205px; border:1px solid #446655; padding:1px; background-color: #FFF; font-family:arial; font-size:10px; padding-bottom:20px; visibility:hidden; z-index:999999; overflow:visible; height:192px; position:absolute; top:0; left:0;}

#calendarDiv span,#calendarDiv img{ float:left; z-index:999999; }
	
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{ line-height:12px; padding:1px; cursor:pointer; padding-left:2px; z-index:999999; }

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{ line-height:12px; padding:1px; cursor:pointer; padding-left:2px; }

#calendarDiv td{ padding:3px; margin:0px; font-size:10px; z-index:999999; }

#calendarDiv .selectBox{ border:1px solid #E2EBED; color: #E2EBED; position:relative; z-index:999999; }
#calendarDiv .selectBoxOver{ border:1px solid #FFF; background-color: #446655; color: #FFF; position:relative; }
#calendarDiv .selectBoxTime{ border:1px solid #446655; color: #446655; position:relative; }
#calendarDiv .selectBoxTimeOver{ border:1px solid #142; color: #142; position:relative; }

#calendarDiv .topBar{ height:16px; padding:2px; background-color:#446655; overflow:hidden; }

#calendarDiv .activeDay{ color:#FF0000; }
#calendarDiv .todaysDate{ height:17px; line-height:17px; padding:2px; background-color: #E2EBED; text-align:center; position:absolute; bottom:0; width:201px; }
#calendarDiv .todaysDate div{ float:left; }
	
#calendarDiv .timeBar{ height:17px; line-height:17px; background-color: #E2EBED; width:72px; color:#FFF; position:absolute; right:0px; }

#calendarDiv .timeBar div{ float:left; margin-right:1px; }


#calendarDiv .monthYearPicker{ background-color: #E2EBED; border:1px solid #AAAAAA; position:absolute; color: #446655; left:0px; top:15px; z-index:999999; display:none; }
#calendarDiv #monthSelect{ width:70px; }
#calendarDiv .monthYearPicker div{ float:none; clear:both; padding:1px; margin:1px; cursor:pointer; z-index:999999; }
#calendarDiv .monthYearActive{ background-color:#446655; color: #E2EBED; }

#calendarDiv td{ text-align:right; cursor:pointer; z-index:999999; }

#calendarDiv .topBar img{ cursor:pointer; }
#calendarDiv .topBar div{ float:left; margin-right:1px; z-index:999999; }