html {width:100%; height:100%; margin:0; overflow:hidden; }
body {width:100%; height:100%; margin:0; overflow:hidden; }


#Top{ font-family:Verdana, Geneva, sans-serif; font-size:18px; height:32px; text-align:left; width:100%; }
#path{ float:left; font-family:Verdana, Geneva, sans-serif; font-size:16px; height:32px; text-align:left; width:auto; }

#SearchBar {background:transparent; display:none; float:left; height:56px; margin:0 0 0 10%; width:80%; border:#ccc 3px dotted; border-bottom:none; }
#SearchBar label { white-space:nowrap; overflow:hidden; }

.Toolbar{ font-family:Calibri, Arial, Helvetica, sans-serif; font-size:16px; padding:1px 0 0 0;	width:100%;	}

.Lists { display:block; height:100%; margin:0; padding:0; overflow:hidden; width:100%; z-index:1500;}
#ListBody, .ListBody{ background:url("../../images/vTiger/homePageSeperator.gif") no-repeat scroll 0 0 transparent; margin:8px 0 0 1%; overflow:hidden; height:100%; text-align:center; white-space:nowrap; width:100%; }

#eventList { width:95%; height:100%; margin:auto; border:none; }

/*//////////////////////////////////////////////////////////*/
#ItemsHead { color:#000; font-family:Verdana,Helvetica,sans-serif; font-size:16px; height:24px; overflow:hidden; margin:0 0 0 2%; white-space:nowrap; width:98%;
 border:1px #888 solid; border-top-left-radius:2px; border-top-right-radius:2px;
 background:-webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(.39, #FFF), color-stop(.4, #F7F8FA), to(#F1F2F4));
 background:-moz-linear-gradient(-90deg top left, #FFF, #FFF 39%, #F7F8FA 40%, #F1F2F4);
}
#ItemsHead div { float:left; }

.RowContainer{cursor:default; height:25px; float:left; width:100%; min-width:783px; margin-left:2%; overflow:hidden; z-index:1000;
  border-bottom:1px solid #C0C0C0; border-right:1px solid #888;
  font-family:Arial, Helvetica, sans-serif; font-size:16px;
}
.RowContainer:hover	{	background-color:#ffd; }
.RowContainer div:first-child {  }

.rowEdit{border:none; background:url(../../images/Pencil-gray16.png) center no-repeat; background-color:#eee; height:100%; margin:0; padding:0; width:100%;}
.rowEdit:hover{border:2px outset #DDEFCB; background:url(../../images/Pencil-icon16.png) center no-repeat, rgba(128,196,64,.25); height:100%; width:100%;}
.rowEdit:active{border:2px inset #DDEFCB; }


/*//////////////////////////////////////////////////////////*/



/*//////////////////////// ScheduleBox /////////////////////////////////////////////////////////////////////////////////*/
#ScheduleBox{	position:absolute; top:20%; left:20%; display:none; background:#C9E4F8; width:512px; height:384px; z-index:100010; border:1px outset; overflow:hidden; border-top-right-radius:10px; border-top-left-radius:10px; border-bottom-right-radius:6px; border-bottom-left-radius:6px;}
 
	#SchTitle{width:100%; height:24px; background:#3599E3; text-align:center;	font-size:18px; font-family:Verdana, Arial, Helvetica, sans-serif; border-top-right-radius:10px; border-top-left-radius:10px;	}
		#SchProjID{float:right; color:#3194D4;}
	#SchProjName{
		width:100%; height:14px; float:left; outline:none; background:none; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-size:12px; font-family:Arial, Verdana, Helvetica, sans-serif;
	}
	#SchProjName:hover{background:rgba(255,255,255,.5);}
	#SchProjName:focus{background:#FFFFF0;}
	#SchMain{width:62.5%; height:302px; float:left;}
		#SchLeft{width:40%; height:132px; float:left;}
		#SchRight{width:60%; height:132px; float:left;}
			.SchBoxLabel{margin:4px 0 0 4px; width:104px; float:left; clear:left;}
			.SchCal{float:right; cursor:pointer;}
			.SchBoxTxt{margin-left:12px; float:left; clear:both; width:96px; background:#FFFFF0;}
			.SchBoxTxt2{margin-left:7%; float:left; clear:both; width:93%; background:#FFFFF0;}
		
		#SchNotes{width:100%; height:202px; float:left;}
			#NotesLabel{float:left;}
			#NotesText{width:100%; height:152px; border:#1C80CA 1px inset; border-radius:3px; background:#FFFFF0;}
		
	#SchCrew{width:37.5%; height:304px; float:left;}
		#CrewLabel{margin:4px 0 0 4px; width:100%; height:20px; float:left; clear:left;}
		#Crew{height:20px; margin-left:7%px; float:left; clear:both; width:93%; background:#FFFFF0;}
		#CrewList{width:97%; height:260px; margin:0 1.5% 0 1.5%; float:left; border:#1C80CA 1px inset; border-radius:3px; background:#FFFFF0;}
	
/* ////////////////////////  /////////////////////////////////////////////////////////////////////////////////* /

