@charset "utf-8";
/* CSS Document */





html,body{
	height: 100%;
	width: 100%;
	margin:0 0 0 0;
	background-color:#EDE0E7;
}


a{text-decoration:underline; font-size:13px; font-family:Arial, Helvetica, sans-serif;} 
a:link{color:#blue;}
a:active{color:#blue;}
a:visited{color:#blue;}
a:hover{color:#DD00DD;}

.Body
{
	width:100%;
	height:100%;
	overflow:hidden;
}







/*/////////////////Bid Presets ////////////////////////////////////////////////*/
/*/////////////////Bid Presets ////////////////////////////////////////////////*/
/*/////////////////Bid Presets ////////////////////////////////////////////////*/


.BidPresetModal{ position:absolute; display:none;  background:#666; filter:alpha(opacity=30); opacity:0.30; width:100%; height: 100%; text-align:center; margin:0px 0px 0px 0px; z-index:200000;}

.BidPresetNewBox{ position:absolute; display:none; height:180px; width:300px; top:25%; left:40%; background:#FFF;  border:1px solid #000; z-index:201000; }

.BidPresetNewBoxTop{ position:relative; float:none; height:20px; width:99.9%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#CCC;  border-bottom:1px solid #000;
				font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight:bold; color:#000; }

.BidPresetNewBoxBottom{ position:relative; float:none; height:30px; width:96%; margin: 0px 0px 0px 0px; padding: 10px 0px 3px 0px; text-align:left; background:#FFF; border-top:1px solid #000;}
.BidPresetNewBoxBottomL{ position:relative; float:left; height:auto; width:auto; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 4px; background:inherit;}
.BidPresetNewBoxBottomR{ position:relative; float:right; height:auto; width:auto; margin: 0px 0px 0px 0px; padding: 0px 4px 0px 0px; background:inherit;}






.BidPresetMain{position:relative; height:100%; width:100%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; background:inherit; overflow:hidden; }

.BidPresetL{ position:relative; float:left; height:100%; width:48%; margin:0 0 0 2%; padding:0; text-align:center; border-right:1px #000 solid; }

.BidPresetLNew{ position:relative; float:none; height:25px; width:100%; margin: 0px 0px 0px 0px; padding: 6px 0px 0px 4px; text-align:center; background:inherit;
				font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight:bold; color:#000; }
				
.BidPresetLTop{ position:relative; float:none; height:24px; width:100%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:inherit;  display:none;
				font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight:bold; color:#000; }
				
.BidPresetLBottom{ position:relative; float:none; height:90%; width:90%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#FFF; border:1px solid #000; display:none;}

.BidPresetLHeader{ position:relative; float:none; height:20px; width:99.95%; margin: 0px 0px 0px 0px; padding: 2px 0px 0px 0px; text-align:center; background:#CCC; border-bottom:1px solid #000;
				font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight:bold; color:#000;}

.BidPresetLBottomTop{ position:relative; float:none; height:25px; width:98%; margin: 0px 0px 0px 0px; padding: 4px 0px 0px 1%; text-align:left; background:inherit;
				      font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight:bold; color:#000; }
								
.BidPresetLTitle{ position:relative; float:left; height:auto; width:120px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:left; background:inherit;
				  font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight:bold; color:#000; }
				
.BidPresetLTxtBox{ position:relative; float:left; height:auto; width:auto; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:left; background:inherit;
				   font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight:bold; color:#000; }
				   
.BidPresetLR{ position:relative; float:right; height:auto; width:49%; margin: 0px 0px 0px 0px; padding: 0px 0 0px 2%; text-align:left; background:inherit;
				   font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight:bold; color:#DDD; }
				
.BidPresetPartsBox{ position:relative; float:none; height:81%; width:99.9%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#E2EAD9; border:0px solid #000;}

.BidPresetPartsBoxTop{ position:relative; float:none; height:20px; width:99%; margin: 0px 0px 0px 0px; padding: 0px 0px 3px 4px; text-align:left; background:#DDD; border-bottom:1px solid #000;}

.BidPresetPartsBoxHead{ position:relative; float:none; height:16px; width:100%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#FFF; border-bottom:1px solid #000;}

.BidPresetPartsBoxHeadTxt{ position:relative; float:left; height:16px; width:auto; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 3px; text-align:left; background:inherit;
						   font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight:bold; color:#000; }

.BidPresetPartsList{ position:relative; float:none; height:89%; width:100%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#E2EAD9; border:0px solid #000;
					overflow-y:scroll; overflow-x:hidden;}

.BidPresetPartsListItem { position:relative; overflow:hidden; white-space:nowrap; float:left; height:22px; margin:0px 0px 0px 0px; padding:3px 3px 3px 3px;  background:#D5E0C7; 
						  font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:normal; text-align:left; color:#000;}


.BidPresetLaborBox{ position:relative; float:none; height:81%; width:99.9%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#FFE4CC; border:0px solid #000; display:none;}

.BidPresetLaborList{ position:relative; float:none; height:89%; width:100%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#FFE4CC; border:0px solid #000;
					overflow-y:scroll; overflow-x:hidden;}
					
.BidPresetLaborListItem { position:relative; overflow:hidden; white-space:nowrap; float:left; height:22px; margin:0px 0px 0px 0px; padding:3px 3px 3px 3px;  background:#FFDBBB; 
						  font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:normal; text-align:left; color:#000;}
					
	
	
					
														
				
.BidPresetR{ position:relative; float:left; height:98%; width:48%; margin:0 0 0 2%; padding:0 0 0 0; text-align:center;}

.BidPresetRTop{ position:relative; float:none; height:24px; width:100%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:inherit;
				font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight:bold; color:#000; }
				
.BidPresetRListTop{ position:relative; float:none; height:16px; width:90%; margin: 0px 0px 0px 0px; padding: 3px 0px 3px 0px; text-align:center; background:#CCC; border:1px solid #000; border-bottom:0px solid #000;
				font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight:normal; color:#000; }
				
.BidPresetRListTopTxt{ position:relative; float:left; height:14px; width:auto; margin: 0px 0px 0px 0px; padding: 0px 4px 0px 4px; text-align:center; background:#CCC;
				font-family: Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; color:#000; }
				
.BidPresetRList{ position:relative; float:none; height:90%; width:90%; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center; background:#FFF; border:1px solid #000;
				font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight:normal; color:#000; overflow-y:scroll; overflow-x:hidden;}

.BidPresetRListRow { position:relative; height:22px; width:100%; overflow:hidden; white-space:nowrap; background:#FFF; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; border-bottom: 1px solid #000; }

.BidPresetRListItem { position:relative; overflow:hidden; white-space:nowrap; float:left; height:22px; margin:0px 0px 0px 0px; padding:3px 3px 3px 3px;
			     font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:normal; text-align: left;color:#000; }
				 
.BidPresetRListBtn{ position:relative; float:none; height:20px; width:20px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-align:center;;
				font-family: Arial,Helvetica,sans-serif; font-size: 10px; font-weight:normal; color:#000;}





.AddPartContainer{
	position:absolute;
	display:none;
	height:90%;
	width:45%;
	top:4%;
	left:18%;
	background:#FFF;
	border:1px solid #000;
	z-index:201000; 
}



.AddPartBox{
	position:relative;
	float:right;
	height:100%;
	width:700px;
	top:0px;
	border: 1px solid #000;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:center;
	color:#33F;
	background:#D5E0C7;
	z-index:202000;
}

.DivLine{
	position:relative;
	height:4px;
	width:98%;
	background:inherit;
	border-bottom: 1px solid #999;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 4px;
	text-align:center;
	color:#000;
	z-index:202200;
}

.AddPartBoxTitle1{
	position:relative;
	height:25px;
	width:98%;
	background:inherit;
	padding:0px 0px 0px 0px;
	margin:8px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight:bold;
	text-align:center;
	color:#000;
	z-index:202100;
}
.AddPartBoxSearch1{
	position:relative;
	height:25px;
	background:inherit;
	padding:3px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	z-index:202100;

}
.AddPartBoxLabel1{
	position:relative;
	float:right;
	padding:5px 4px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:right;
	color:#FFF;
	z-index:202100;
}
.AddPartBoxSearchTxt1{
	position:relative;
	float:right;
	padding:0px 0px 0px 0px;
	margin:0px 5px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align:left;
	color:#000;
	z-index:202200;
}
.AddPartBoxSearchBtn1{
	position:relative;
	float:right;
	padding:0px 0px 0px 0px;
	margin:1px 6px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:center;
	color:#000;
	z-index:202200;
}
.AddPartBoxScrollHead1{
	position:relative;
	width:98%;
	background:#F3F4CC;
	float:left;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	margin:5px 5px 0px 7px;
	padding:0px 0px 0px 0px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:normal;
	text-align:left;
	color:#000;
}
.PartsListHead1{
	position:relative;
	float:left;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding:0; /*3px 3px 3px 3px; */
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-align:center;
	color:#000;
}
.AddPartBoxScroll1{
	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
	height:85%;
	width:98%;
	background:#DDD;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	text-align:left;
	color:#000;
	border:1px solid #000;
	z-index:202000;
}
.AddPartBoxClose1{
	position:relative;
	float:Left;
	height:25px;
	width:40px;
	background:#FF;
	padding:0px 0px 0px 0px;
	margin:1px 0px 0px 12px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	text-align:center;
	color:#000;
	z-index:202000;
}


/*Parts Search Box Items ////////////////////////////////////////////////////*/

.PartsListItemRow{
	position:relative;
	height:22px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-bottom: 1px solid #000; 
}
.PartsListItem {
	position:relative;
	float:left;
	height:22px;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:normal;
	text-align:left;
	color:#000;
	background:inherit;
	border-left: 1px solid #000;
}
.PartsListItemAdd {
	position:relative;
	height:20px;
	margin:0px 0px 0px 0px;
	padding:0px 3px 0px 3px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-align:center;
	color:#000;
}







/*//////Preset Labor Container/////////////////////////////////////////////////////////////////////////*/
/*//////Preset Labor Container/////////////////////////////////////////////////////////////////////////*/
/*//////Preset Labor Container/////////////////////////////////////////////////////////////////////////*/





.AddLaborContainer{
	position:absolute;
	display:none;
	height:90%;
	width:45%;
	top:4%;
	left:18%;
	background:#FFF;
	border:1px solid #000;
	z-index:201000; 
}



.AddLaborBox{
	position:relative;
	float:right;
	height:100%;
	width:700px;
	top:0px;
	border: 1px solid #000;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:center;
	color:#33F;
	background:#FFDBBB;
	z-index:202000;
}


.AddLaborBoxTitle1{
	position:relative;
	height:25px;
	width:98%;
	background:inherit;
	padding:0px 0px 0px 0px;
	margin:8px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight:bold;
	text-align:center;
	color:#000;
	z-index:202100;
}
.AddLaborBoxSearch1{
	position:relative;
	height:25px;
	background:inherit;
	padding:3px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	z-index:202100;

}
.AddLaborBoxLabel1{
	position:relative;
	float:right;
	padding:5px 4px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:right;
	color:#FFF;
	z-index:202100;
}
.AddLaborBoxSearchTxt1{
	position:relative;
	float:right;
	padding:0px 0px 0px 0px;
	margin:0px 5px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align:left;
	color:#000;
	z-index:202200;
}
.AddLaborBoxSearchBtn1{
	position:relative;
	float:right;
	padding:0px 0px 0px 0px;
	margin:1px 6px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:center;
	color:#000;
	z-index:202200;
}
.AddLaborBoxScrollHead1{
	position:relative;
	width:98%;
	background:#F3F4CC;
	float:left;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	margin:5px 5px 0px 7px;
	padding:0px 0px 0px 0px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:normal;
	text-align:left;
	border: 1px solid #000;
	color:#000;
}
.LaborListHead1{
	position:relative;
	float:left;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding:3px 3px 3px 3px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-align:center;
	color:#000;
}
.AddLaborBoxScroll1{
	position:relative;
	overflow-y:scroll;
	overflow-x:hidden;
	height:85%;
	width:98%;
	background:#DDD;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	text-align:left;
	color:#000;
	border:1px solid #000;
	z-index:202000;
}
.AddLaborBoxClose1{
	position:relative;
	float:Left;
	height:25px;
	width:40px;
	background:#FF;
	padding:0px 0px 0px 0px;
	margin:1px 0px 0px 12px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	text-align:center;
	color:#000;
	z-index:202000;
}












.SystemInfoRtitle{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	height:13px;
	width:99.8%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:bold;
	color:#000;
	text-align:center;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	background:#DDEFCB;
}
.SystemInfoNotes{
    position:relative;
    height: 100px;
	width:98%;
	margin: 0px 0px 0px 1px;
	padding: 2px 2px 2px 3px;
	border-left:1px solid #000;
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	font-weight:normal;
	color:#000;
	text-align:left;
	border:1px Solid #FFF;
	z-index:10400;
}









/*Labors Search Box Items ////////////////////////////////////////////////////*/

.LaborListItemRow{
	position:relative;
	height:22px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	background:#FFF;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-bottom: 1px solid #000; 
}
.LaborListItem {
	position:relative;
	float:left;
	height:22px;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding:3px 3px 3px 3px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:normal;
	text-align:left;
	color:#000;
}
.LaborListItemAdd {
	position:relative;
	height:20px;
	margin:0px 0px 0px 0px;
	padding:0px 3px 0px 3px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-align:center;
	color:#000;
}





/*//////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////*/



.DataTabsBox{
	position:relative;
	height:30px;
	width:100%;	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:#EDE0E7;
}
#ReloadFrame{
	position:relative;
	top:4px;
	left:auto;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	height:24px;
	width:24px;
	font-size:18px;
	text-align:center;
	vertical-align:top;
}

.DataTabsBottom{
	position:relative;
	overflow:hidden;
	height:4px;
	width:100%;
	font-size:4px;
	Border:0px solid blue;
	margin: 0px 0px 0px 0px;
	background:#6D4358;
}


.TabBox{
	position:relative;
	float:left;
	width: 90px;
	padding: 5px;
	margin: 6px 0px 0px 1px;
	padding: 3px 3px 3px 3px;
	background-color:#6D4358;
}
.TabBox2{
	position:relative;
	float:left;
	width: 90px;
	padding: 5px;
	margin: 6px 0px 0px 1px;
	padding: 3px 3px 3px 3px;
	background-color:#B689A0;
	color:#000
}

.TabInner{
	position:relative;
	height:14px;
	width:98%;
	margin: 4px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	cursor:pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	z-index:1000;
}

.TabInner2{
	position:relative;
	height:14px;
	width:98%;
	margin: 4px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	cursor:pointer;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	z-index:1000;
}









.MainBox{
	position:relative;
	height:95%;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color:#EDE0E7;
	text-align:center;
	z-index:500;
}
.MainBoxHidden{
	position:relative;
	display:none;
	width:100%;
	height:95%;
	overflow:auto;
	margin: 0px 0px 0px 0px;
	background-color:#EDE0E7;
	text-align:center;
	z-index:500;
}
.MainBoxHidden2{
	position:absolute;
	top:15%;
	left:20%;
	display:none;
	width:60%;
	height:65%;
	overflow:hidden;
	margin: 0px 0px 0px 0px;
	border:#000 1px solid;
	background-color:#EDE0E7;
	text-align:center;
	z-index:600;
}

.IncPartsSearch{
	float:left;
	width:25%;
	height:95%;
	border-right:#000 1px solid;
	border-bottom:#000 1px solid;
	border:none;
	text-align:left;
}
.IncPartsSearchResults{
	position:relative;
	float:right;
	width:74.5%;
	height:47.5%;
	max-height:45%;
	overflow:scroll;
	border-left:#000 1px solid;
	border-bottom:#000 1px solid;
	z-index:0;
}
.SRHeads{
	height:102%;
	float:left;
	border:1px #000 solid;
	border-right:none;
	border-bottom:none;
	font-family:Consolas, "Courier New", Courier, monospace;
	font-size:14px;
/*background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
*/
}
.IncPartsList{
	float:right;
	width:74.5%;
	height:47.5%;
	border-left:#000 1px solid;
	overflow-x:hidden;
	overflow-y:scroll;
}
.IncludedPartsBoxBottom{
float:left;
width:100%;
height:5%;
border:#000 1px solid;
border-top:none;
}
.IncPartsDone{
	float:right;
	height:100%;
}



/*Main Parts List Box++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



.PartsListBox{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	height:95%;
	width: 90%;
	margin:auto;
	padding: 0px 0px 0px 0px;
	background-color:#EDE0E7;
	z-index:1000;
}

.PartsEntryHead{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	height:30px;
	width: 60%;
	margin: 0px 0px 4px 0px;
	padding: 4px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 24px;
	font-weight:bold;
	text-align:center;
	color:#895671;
	background-color:#EDE0E7;
	z-index:1100;
}


.IncPartsListItemRow {
	position:relative;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 4px 0px;
	padding:0px 0px 0px 0px;
	border-bottom:none;
}
.IncPartsListItem {
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-align:left;
	color:#000;
	background:inherit;
	border-left:#DEC9D3 1px solid;
}



.AddPartBoxTitle{
	position:relative;
	float:left;
	padding:0px 0px 0px 0px;
	margin:5px 6px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	z-index:2100;
}
.PartsListSearchBox{
	position:relative;
	height:30px;
	background:#6D4358;
	padding:10px 10px 0px 12px;
	margin:auto;
	z-index:1100;

}
.AddPartBoxLabel{
	position:relative;
	float:right;
	padding:5px 4px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	text-align:right;
	color:#FFF;
	z-index:2100;
}
.AddPartBoxSearchTxt{
	position:relative;
	float:left;
	padding:0px 0px 0px 0px;
	margin:0px 5px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-align:left;
	color:#000;
	z-index:1100;
}
.AddPartBoxSearchBtn{
	position:relative;
	float:left;
	padding:0px 0px 0px 0px;
	margin:6px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-align:center;
	color:#000;
	z-index:2100;
}
.AddPartBoxSearchBtnText{
	position:relative;
	float:left;
	padding:0px 0px 0px 0px;
	margin:6px 8px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-align:center;
	color:#FFF;
	text-shadow:#000 1px 1px 1px;
	z-index:2100;
}
.AddPartBoxScrollHead{
	position:relative;
	width:100%;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:normal;
	text-align:left;
	color:#000;
	background:#B689A0;
	border:1px Solid #999;
}
.PartsListHead{
	position:relative;
	float:left;
	height:16px;
	overflow:hidden;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding:3px 3px 3px 3px; 
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-align:center;
	color:#000;
}

.AddPartBoxScrollY{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	overflow-y:scroll;
	overflow-x:hidden;
	height:80%;
	width:100%;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	text-align:left;
	color:#000;
	border:1px solid #999;
	background:#EEE;
	z-index:1100;
}
.AddPartBoxClose{
	position:relative;
	float:Left;
	height:25px;
	width:40px;
	background:#FF;
	padding:0px 0px 0px 0px;
	margin:1px 0px 0px 12px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;
	font-weight:normal;
	text-align:center;
	color:#000;
	z-index:2100;
}






























/*Parts EDIT Box+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



.PartEditModal{
    position:absolute;
	display: none;
	left:1px;
	top:1px;
    background: #A97691;
	filter:alpha(opacity=30);
	opacity:0.30;
	width:100%;
	height: 100%;
	text-align:center;
	margin:0px 0px 0px 0px;
	z-index:2000;
}
.PartEditBox{
    position:absolute;
	display: none;
	left:30%;
	top:10%;
	width:600px;
	height: 500px;
	text-align:center;
	margin:0px 0px 0px 10px;
	z-index:2100;
}


.PartEditL{
    position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
    height:auto;
	width:30%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background:inherit;
	z-index:1100;
}

.PartEditR{
    position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
    height:auto;
	width:68%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background:inherit;
	border-left:1px solid #000;
	z-index:1100;
}
.PartEditBoxHead{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	height:28px;
	width: 97.9%;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	background-color:#6D4358;
	z-index:2100;
}

.PartsListItemEdit {
	position:relative;
	height:17px;
	margin:0px 3px 0px 0px;
	padding:0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-align:center;
	color:#000;
}

.DivLine{
	position:relative;
	height:4px;
	width:98%;
	background:#6D4358;
	border-bottom: 1px solid #999;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 4px;
	text-align:center;
	color:#000;
	z-index:2100;
}



.PartsEntryFoot{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	height:14px;
	width: 97.1%;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 0px 4px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:bold;
	text-align:left;
	color:#FFF;
	background:#A97691;
}
.PartsEntryBottom{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	height:25px;
	width: 96.2%;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 0px 5px;
	text-align:left;
	color:#FFF;
	background:#A97691;
}
.PartEntryBtnR{
	position:relative;
	float:right;
	height:22px;
	width:60px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:bold;
	text-align:center;
	color:#000;
}
.PartEntryBtnL{
	position:relative;
	float:left;
	height:22px;
	width:60px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:bold;
	text-align:center;
	color:#000;
}




































.TitleTxtDiv{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	height:22px;
	margin: 0px 0px 0px 0px;
	padding: 2px 6px 0px 0px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#000;
	text-align:right;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
	background:#F3EBEF;
}

.SelectBox{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	height:24px;
	width:100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	z-index:1100;
}
.SelectBox2{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	height:24px;
	width:150px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	z-index:1100;
}	
.InputTxtDiv{
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	height:24px;
	width:99%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	background:#FFF;
	z-index:1100;
}

.ProjInfoTxt{/*Text Box*/
    overflow:hidden;
	white-space:nowrap;
	float:left;
	height:20px;
	width:96%;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 4px;
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	font-weight:normal;
	color:#000;
	border:1px solid #FFF;
	text-align:left;
}
.ProjInfoTxt2{/*Text Box*/
    overflow:hidden;
	white-space:nowrap;
	float:left;
	height:24px;
	width:100px;
	margin: 0px 0px 0px 0px;
	padding: 1px 0px 0px 4px;
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	font-weight:normal;
	color:#000;
	border:1px solid #FFF;
	text-align:left;
}
.TxtLeft{/*Text Box*/
	overflow:hidden;
	white-space:nowrap;
	float:left;
	font-size:13px;
	padding: 0px 0px 0px 4px;
	text-align:left;
}
.PartsInfoDate{/*Div With Date*/
    position:relative;
	float:left;
	height:24px;
	width:100px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-left:1px solid #000;
}
.PartsInfoTxtDate{/*Text Box With Date*/
    position:relative;
	float:left;
	height:22px;
	width:100px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 0px 4px;
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
	font-weight:normal;
	color:#000;
	border:1px solid #FFF;
	text-align:left;
}
.PartsInfoDateIcon{/*CalendarIcon*/
    position:relative;
	float:right;
	height:24px;
	width:24px;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 0px 4px;
	border-left:1px solid #000;
	text-align:center;
}












/*  Employee Data +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.EmployeeHead{
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
	white-space:nowrap;
	height:32px;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 4px 0px;
	font-size: 24px;
	font-weight:bold;
	text-align:center;
	color:#895671;
	background:none;
	z-index:10100;
}


.EmployeeData{
	text-align:center;
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
	height:100%;
	width:100%;
	margin: 32px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background:inherit;
	z-index:1100;
}


.EmployeeDL{
	position:relative;
	left:14%;
	overflow-y:hidden;
	overflow-x:hidden;
	white-space:nowrap;
	float:left;
	height:90%;
	width:48%;
	margin: 0% 0% 0px 0%;
	padding: 0px 0px 1px 0px;
	background:inherit;
	border-top:#FCFAFB 2px solid;
	border-left:#F3EBEF 4px solid;
	border-bottom:#6D4358 2px solid;
	border-right:#A97691 2px solid;
	z-index:1100;
}

.EmployeeDR{
  position:relative;
	left:14%;
	overflow-y:scroll;
	overflow-x:hidden;
	white-space:nowrap;
	float:left;
	height:90%;
	width:19%;
	padding: 0px 0px 0px 0px;
	background:#DEC9D3;
	border-top:#FCFAFB 2px solid;
	border-left:#F3EBEF 3px solid;
	border-bottom:#6D4358 2px solid;
	border-right:#A97691 2px solid;
	z-index:1100;
}


.EmployeeDC{
  position:relative;
	overflow:hidden;
	white-space:nowrap;
	float:left;
  height:auto;
	width:0%;
	margin: 0px 1% 0px 1%;
	padding: 0px 0px 0px 0px;
	background:inherit;
	z-index:1100;
}


.EmpDLTabs
{
	float:left;
	width:100%;
	border-bottom:#6D4358 4px solid;
	white-space:nowrap;
}

.EmpName
{
	font-family:"Courier New", Courier, monospace;
	font-size:15px;
	float:right;
	font-weight:bold;
	text-align:right;
	background:#DEC9D3;
	border-top:#6D4358 1px solid;
	border-right:#F3EBEF 2px solid;
	border-bottom:#FCFAFB 1px solid;
	border-left:#A97691 1px solid;
	padding:0 4px 0 4px;
	margin: 3px 3px 3px 0;
}


.EmpButtons1
{
  position:relative;
	float:left;
	width:100%;
	background:#DEC9D3;
	border-top:#FCFAFB 2px solid;
	border-left:#F3EBEF 2px solid;
	border-bottom:#6D4358 2px solid;
	border-right:#A97691 2px solid;
	padding:1px 0% 0px 0%;
}

.EmpButtons2
{
	vertical-align:bottom;
	float:right;
	width:29.5%;
	border-color:#6D4358;
	border-style:none;
	border-width:2px;
}

.EmpAccess

{
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
	display:none;
}

.EmpInfo
{
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
	display:none;
}


.EmpTxtL
{
	width:30%;
	float:left;
	text-align:right;
	height:22px;
	font-family: Arial,Helvetica,sans-serif;
	border-color:#00FF00;
	border-style:hidden;
	border-width:2px;
	margin: 7px 0px 0px 0px;
}

.EmpTxtR
{
	width:62%;
	float:left;
	text-align:left;
	height:22px;
	font-family: Arial,Helvetica,sans-serif;
	border-color:#00FF00;
	border-style:hidden;
	border-width:2px;
	margin: 2px 0px 5px 0px;
}

.EmpListItem
{
	height:18px;
  text-align:left;
	position:relative;
	cursor:pointer;
	padding: 4px 0px 0px 4px;
}




.EmpTxt
{
width:99%;
}

.DateEmpTxt
{
width:64px;
}

.CBRow1
{
	position:relative;
	width:1px;
	overflow:visible;
	left:0px;
}

.CBRow2
{
	position:relative;
	width:1px;
	overflow:visible;
	left:10px;
}

.CBRow3
{
	position:relative;
	width:1px;
	overflow:visible;
	left:20px;
}




















.Center50{ position:relative; width:50%; left:25%;}

















