@charset "utf-8";
/* CSS Document */

html,body{
	height: 100%;
	width: 100%;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#CCC;
}

a{text-decoration:underline; font-size:10px; font-family:Arial, Helvetica, sans-serif;} 
a:link{color:#blue;}
a:active{color:#blue;}
a:visited{color:#blue;}
a:hover{color:#169A70;}





.Modal{
	position:absolute;
	display: none;
	background: #844;
	filter:alpha(opacity=50);
	opacity:0.50;
	width:100%;
	height: 100%;
	text-align:center;
	margin:0px 0px 0px 0px;
	z-index:10000;
}
.TaskBox{
	position:absolute;
	display: none;
	top:0px;
	width:416px;
	height:408px;
	z-index:20000;
	background:#FFF;/*F9F;/**/
	border:#CACACA 3px solid;
	color:#CA6565 3px solid;
}
.TaskBoxTitle
{
	font-size:18px;
	font-family:"Courier New", Courier, monospace;
}
.Pencil{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	background:#FF9E9E;/**/
	/*filter:alpha(opacity=75);
	opacity:0.75;*/
	z-index:100;
}
.TaskBoxInput{
	height:17px;
	width:90%;
	border:none;
	cursor:text;
	z-index:1000;
}
.TaskBoxInput2{
	position:relative;
	height:24px;
	width:91%;
}
.TaskBoxNotes{
	height:119px;
	font-size:14px;
	width:90%;
	border:none;
	z-index:1000;
}
.TaskBoxLabel{
	position:relative;
	height:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size:14px;
	float:left;
	color:#000;
	margin:4px 0 0 4.5%;
}
.CustListItems{
	float:left;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 0px 3px;
	background:inherit;
	overflow:hidden;
	white-space:nowrap;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#000;
	text-align:Left;
	cursor:pointer;
	z-index:1500;
}
a.CustListItems{text-decoration:none;} 
a.CustListItems:link {color: #000} 
a.CustListItems:visited {color: #000}
a.CustListItems:hover {color: #169A70} 
a.CustListItems:active {color: #000} 
.CustListItemsContainer{
	width:220px;
	height:20px;
	overflow:hidden;
	white-space:nowrap;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background:#FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#000;
	text-align:Left;
	cursor:pointer;
	z-index:1500;
}
.SearchCustList{
	padding:1% 1% 1% 1%;
	height:85%;
	overflow-x:hidden;
	overflow-y:auto;
	background:#FF9E9E;/**/
	filter:alpha(opacity=75);
	opacity:0.75;/**/
}


/* CONTAINER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.OverAllContainerWhite{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	padding-top:20%;
	overflow:hidden;
	display:block;
	font-family:"Arial", Courier, monospace;
	font-size:600%;
	font-weight:bold;
	color:#CA6565;
	background:#FFF;
	overflow:hidden;
	z-index:200000;
	filter:alpha(opacity=99);
	opacity:0.99;
}

.OverAllContainer{
	position:absolute;
	left:0px;
	width:100%;
	height:100%;
	background:#FFF;
	overflow:hidden;
}
.RightContainer {
	float:left;
	height:100%;
	width:100%;
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	background:#D7D7D7;
	color:#D76B6B;
}
.HeaderSpacer {
	height:3px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	background:#FFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 3px;
	font-weight:normal;
	color:#D76B6B;
}



/* Task Lists//////////////////////// Task Lists//////////////////////////////////////////////////////////////////////////////*/

.TaskLists {
	display:block;
	text-align:center;
	height:93%;
	width:100%;
	background:#FFF;
	color:#000/*D76B6B/**/;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-left:1px solid #999;
	overflow:hidden;
	background:#C0D4D4;
}
.Header {
	width:75%;
	height:5%;
	margin:0px 0px 0px 0px;
	padding: 3px 3px 3px 8px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight:bold;
	text-align:left;
	float:left;
	color:#D76B6B;
}
.HeaderRight{
	width:20%;
	height:5%;
	margin:0px 0px 0px 0px;
	padding: 3px 3px 3px 8px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight:bold;
	text-align:center;
	float:right;
}
.HeaderButton{
	width:7%;
	float:right;
}
.TaskListBody {
	float:left;
	clear:left;
	width:98.5%;
	height:90%;
	padding: 0px 0px 0px 0px;
	overflow-x:visible;
	overflow-y:hidden;
	white-space: nowrap;
	text-align:center;
	background:#CDD;
}

.ItemsHead {
	width:99.25%;
	height:36px;
	margin:0px 0px 0px 0px;
	padding:4px 0px 0px .2%;
	overflow:hidden;
	white-space:nowrap;
	text-align:left;
	background: #D5BAB9;
	border-top:3px solid #D66;
	border-right:3px solid #311;
	border-bottom:3px solid #311;
	border-left:3px solid #D66;
	z-index:0;
	font-family: Arial,Helvetica,sans-serif;
/*	width:100%;
	height:32px;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;*/
	color:#FFF;
/*	overflow:hidden;
	white-space: nowrap;
	background:#FFF;
	text-align:center;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:bold;
	border-top:3px solid #C66;
	border-right:3px solid #422;
	border-bottom:3px solid #422;
	border-left:3px solid #C66;
/**/}

.TLItemsContainer {
	height:90.2%;
	width:99.5%;
	background:#FFF8F8;
	margin:0px 0px 0px 0px;
	padding: 0px .5% 0px 0px;
	white-space:center;
	overflow-y:scroll;
	text-align:center;
	z-index:100000;
	background:#CCD0D0;
}
.Items{
	width:100%;
	height:25px;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
	white-space: nowrap;
	background:#FFF;
	text-align:left;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10px;
	font-weight:bold;
	border-bottom:1px solid #000;
	cursor:pointer;
	
}
.ItemRow {
	width:97%;
	height:50px;
	margin:3px 0px 0px .5%;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
	white-space: center;
	text-align:left;
	border-top:3px solid #F88;
	border-right:3px solid #502828;
	border-bottom:3px solid #502828;
	border-left:3px solid #F88;
	z-index:0;
}
.ItemRowTop{
	width:100%;
	height:25px;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
	white-space: nowrap;
	text-align:left;
}
.ItemRowBottom {
	float:left;
	width:100%;
	height:25px;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow-x:visible;
	overflow-y:hidden;
	white-space: nowrap;
	text-align:left;
	/*background: url('images/RowBGred2.gif');
	background-repeat:no-repeat;
/**/}
.ItemNotes {
	height:24px;
	margin:1px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
	white-space: nowrap;
	text-align:left;
	z-index:0;
}

.TaskListBottom {
	height:400px;
	width:100%;
	background:#FFF;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.HeadEdit   {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:22px;   
	height:31px;   
	font-size: 9px;    
	text-align:center;   
	font-weight:bold;   
	margin-left:.8%;  
	border-left:1px solid #844;
	border-bottom:1px solid #844;
	border-top:1px solid #844;
}
.HeadDel   {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:26px;   
	height:31px;   
	font-size: 9px;    
	text-align:center;   
	font-weight:bold;   
	border-bottom:1px solid #844;
	border-top:1px solid #844;
}
.HeadTime   {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:19px;   
	height:30px;   
	font-size: 9px;    
	text-align:center;   
	font-weight:bold;   
}
.HeadSch    {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:24px;   
	height:31px;   
	font-size: 9px;    
	text-align:center;   
	font-weight:bold;   
	border-bottom:1px solid #844;
	border-top:1px solid #844;
}
.HeadArch { 
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:32px;   
	height:31px;   
	font-size:9px;    
	text-align:center;   
	font-weight:bold;   
	border-bottom:1px solid #844;
	border-top:1px solid #844;
}
.HeadDone { 
	float:left;   
	overflow:hidden;  
	white-space: nowrap;   
	width:30px;   
	height:31px;  
	text-align:center;   
	font-size: 9px; 
	font-weight:bold;   
	border-bottom:1px solid #844;
	background:none;
	border-top:1px solid #844;
}

.HeadPri   {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:52px;   
	height:31px;   
	font-size: 12px;    
	text-align:center;   
	font-weight:bold;   
	border-bottom:1px solid #844;
	border-top:1px solid #844;
	cursor:pointer;
}
.HeadDate    {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:64px;  
	height:31px;   
	font-size: 12px;    
	text-align:center;   
	font-weight:bold;   
	cursor:pointer;
	border-bottom:1px solid #844;
	border-top:1px solid #844;
}
.HeadJob    {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;  
	width:35%;  
	height:31px;   
	font-size: 12px;    
	text-align:center;   
	font-weight:bold;   
	cursor:pointer;
	border-bottom:1px solid #844;
	border-top:1px solid #844;
}
.HeadAttn   {
	float:right;   
	overflow:hidden;  
	white-space: nowrap;  
	width:112px;   
	height:31px;   
	font-size: 11px;    
	text-align:center;   
	font-weight:bold;   
	margin-right:2.4%;
	cursor:pointer;
	border-bottom:1px solid #844;
	border-right:1px solid #844;
	border-top:1px solid #844;
}
.HeadCustContainer{
	float:left;
	width:160px;
	overflow-x:visible;
}
.HeadCust   {
	float:left;
	overflow:hidden;  
	white-space: nowrap;  
	width:192px;   
	height:31px;   
	font-size: 11px;    
	text-align:center;   
	font-weight:bold;   
	border-bottom:1px solid #844;
	cursor:pointer;
	border-top:1px solid #844;
}
.HeadArea   {
	float:right;   
	overflow:hidden;  
	white-space: nowrap;  
	width:112px;   
	height:31px;   
	font-size: 11px;    
	text-align:center;   
	font-weight:bold;   
	border-bottom:1px solid #844;
	cursor:pointer;
	border-top:1px solid #844;
}
.HeadNotes  {
	float:left;   
	overflow:hidden;  
	white-space: nowrap;             
	height:30px;   
	font-size: 11px;    
	text-align:left;   
	font-weight:bold;   
	padding:16px 3px 3px 3px;   
	border-left:1px solid #000;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ItemArchive  { 
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	width:25px;   
	height:25px;  
	padding:3px 72px 3px 3px; 
	border-left:0px solid #000;  
	background:none;
}
.ItemActivateButton { 
	float:left;  
	overflow:hidden;  
	width:29px;   
	white-space: nowrap;   
	height:20px;
	margin:2px 0px 0px 3px;  
	background-position:center;	
	cursor:pointer; 
	background: url(../../LMCManagement/Images/Arrow20X25L.gif); 
	background-repeat:no-repeat;
}
.ItemArchiveButton  { 
	float:left;  
	overflow:hidden;  
	width:29px;   
	white-space: nowrap;   
	height:20px;
	margin:2px 0px 0px 3px;  
	background-position:center;	
	cursor:pointer; 
	background: url(../../LMCManagement/Images/Arrow20X25R.gif);
	background-repeat:no-repeat;
}
.ItemDel  { 
	float:left;  
	overflow:hidden;   
	width:17px;   
	height:25px; 
	text-align:center;  
	padding:3px 3px 2px 3px;  
	border-left:1px solid #000;  
	background:#EFEFEF; 
	cursor:pointer;
}
.ItemDelButton  { 
	float:left;  
	overflow:hidden;  
	width:21px;   
	white-space: nowrap;   
	height:20px;
	margin:2px 0px 0px 1px;  
	background-position:center;	
	cursor:pointer; 
	background:url(../../LMCManagement/Images/TrashCan20.gif); 
	background-repeat:no-repeat;
	z-index:10000;
}
.ItemTime  { 
	float:left;  
	overflow:hidden;  
	width:20px;   
	height:25px; 
	text-align:center;  
	padding:3px 2px 3px 2px;  
	border-left:1px solid #000;  
	background:none; 
	cursor:pointer;
}
.ItemTimeButton  { 
	float:left;  
	overflow:hidden;   
	width:22px;
	height:20px;  
	margin:2px 0px 0px 3px; 
	background:url(../../LMCManagement/Images/Clock20.gif); 
	background-repeat:no-repeat;
	cursor:pointer;
}
.ItemSch   { 
	float:left;	
	overflow:hidden;  
	width:20px;   
	height:25px; 
	text-align:center; 
	padding:4px 2px 3px 2px;   
	border-left:1px solid #000;  
	background:#EFEFEF;  
	cursor:pointer;
}
.ItemSchButton { 
	float:left;  
	overflow:hidden;  
	width:21px;   
	height:20px;  
	margin:2px 0px 0px 3px;  
	border-left:none;  
	background-image:url(../../LMCManagement/Images/calender20.gif); 
	background-repeat:no-repeat;
	cursor:pointer;
}
.ItemEditButton { 
	float:left;  
	overflow:hidden;  
	width:21px;   
	height:20px;  
	margin:2px 0px 0px 4px;  
	border-left:none;  
	background-image:url(../../LMCManagement/Images/Pencil18x18.gif); 
	background-repeat:no-repeat;
	cursor:pointer;
}
.ItemPri   {
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	width:42px;  
	height:25px;  
	padding:5px 3px 3px 3px;
	margin-left:4px;  
	font-family:Arial Wide, Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center; 
	color:#000;  
	border-left:#886 1px solid;  
	border-bottom:#886 1px solid;
	cursor:pointer;
}
.ItemJob   {
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	width:35%;  
	height:25px;  
	padding:3px 3px 3px 3px;  
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;  
	text-align:left; 
	color:#000;  
	border-left:#886 1px solid;  
	font-size: 18px;
	border-bottom:#886 1px solid;
}
.ItemDate   {
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	width:63px;  
	height:25px;  
	padding:8px 3px 4px 3px;
	text-align:left; 
	color:#000;  
	border-left:#886 1px solid;  
	border-bottom:#886 3px solid;
	font-size: 14px;
}
.ItemAttn  { 
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	width:104px;   
	height:25px;  
	padding:6px 0px 3px 3px;  
	font-weight:normal;   
	text-align:left;
	color:#000;  
	border-left:#886 1px solid;  
	border-bottom:#886 1px solid;
}
.ItemAttnButton { 
	float:left; 
	overflow:hidden; 
	white-space:nowrap; 
	width:7px; 
	height:3.5px; 
	padding:6px 3px 3px 3px;  
	border-left:none; 
	background-image: url(../../LMCManagement/Images/down10.gif);
}
.ItemCust  { 
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	width:192px;   
	height:25px;  
	padding:6px 3px 3px 3px;  
	text-align:left; 
	border-left:#886 1px solid;  
	border-bottom:#886 1px solid;
}
.ItemArea  { 
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	width:104px;  
	height:25px; 
	padding:6px 3px 3px 3px;  
	color:#000;  
	border-left:#886 1px solid;  
	border-bottom:#886 1px solid;
}
.ItemNotes { 
	left:144px;
	float:left;  
	overflow:hidden;  
	white-space: nowrap;   
	height:25px; 
	padding:0px 3px 3px 3px;  
	font-weight:normal;   
	text-align:left; 
	color:#000;  
	border-left:none;
}
.ItemNotesInfo { 
	float:left; 
	cursor:pointer;  
	overflow:hidden; 
	left:1px;  
	white-space: nowrap; 
	width:10px;   
	height:15px; 
	padding:0px 0px 0px 0px; 
	background-position:top; 
	background-repeat:no-repeat;  
	border-left:none; 
	background-image:url(../../LMCManagement/Images/I-10.gif);
}
.ItemDivider { 
	float:left; 
	overflow:hidden; 
	white-space: nowrap;   
	width:1px;   
	height:25px;  
	padding:0px 0px 0px 0px;    
	border-left:1px solid #000;
}
.ItemNotesButton { 
	float:left; 
	overflow:hidden; 
	white-space: nowrap; 
	width:10px; 
	height:9px; 
	top:0px; 
	padding:0px 0px 0px 0px; 
	font-weight:normal; 
	text-align:left; 
	color:#000; 
	border-left:none; 
	background-image: url(/WebSite/LMC/Images/down10.gif); 
	background-repeat:no-repeat; 
	border-right:none;
}
.ItemDone { 
	float:left;  
	overflow:hidden;  
	white-space: nowrap; 
	width:24px;  
	height:25px;   
	text-align:center;  
	font-weight:normal;  
	padding:2px 2px 1px 2px; 
	background-color:#CCCCCC;  
	border-left:#886 1px solid;
	margin-left:8px;
}
.ItemProg { 
	overflow:hidden;  
	width:100%;   
	height:16px;  
	color:#000000; 
	text-align:center; 
	padding:5px 0px 0px 0px; 
	cursor:pointer;
	border-left:#886 1px solid;  
	font-family:Verdana, Arial, Helvetica, sans-serif;
}




/*Phase Progress Menu////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.PhaseProgressMenu {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	color:#000000;
	width:120px;
	height:170px;
	background:#EEE;
	margin:0px 0px 0px 0px;
	padding: 0px 3px 3px 3px;
	border:1px solid #999;
	font-family: Arial,Helvetica,sans-serif;
	z-index:10000;
}
.PhasePriMenu {
	display:none;
	position:absolute;
	color:#000000;
	width:120px;
	height:170px;
	background:#EEE;
	margin:0px 0px 0px 0px;
	padding: 0px 3px 3px 3px;
	border:1px solid #999;
	font-family: Arial,Helvetica,sans-serif;
	z-index:10000;
}
.ProgressColor {
	float:left;
	width:15px;
	height:15px;
	background:#00F;
	margin:0px 0px 0px 0px;
	padding: 2px 0px 0px 0px;
	border:1px solid #000;
	font-size: 10px;
	text-align:center;
	color:#000000;
	cursor:pointer;

}
.ProgressItemsHead {
	height:20px;
	margin:0px 0px 3px 0px;
	padding: 2px 0px 0px 0px;
	border-bottom:1px solid #AAA;
	text-align:center;
	font-size: 12px;
	font-weight:bold;
}

.ProgressItems{
	width:100%;
	float:left;
	clear:both;
}

.ProgressDesc {
    float:left;
	width:100px;
	height:20px;
	margin:0px 0px 0px 0px;
	padding: 1px 0px 0px 3px;
	overflow:hidden;
	white-space: nowrap;
	text-align:left;
	font-size: 11px;
	font-weight:bold;
	cursor:pointer;
}

.ProgressItemsCancel{
	width:100%;
	float:left;
	clear:both;
}

.PICancelBtn{
	width:100%;
	float:left;
	clear:both;
	font-size: 10px;
	font-weight:bold;
	text-align:center;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.EmployeeList {
	display:none;
	position:absolute;
	width:120px;
	height:45px;
	background:none;
	margin:0px 0px 0px 0px;
	padding: 0px 3px 3px 3px;
	border:none;
	font-family: Arial,Helvetica,sans-serif;
	z-index:2000;
	
	
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.EngineeringNotes {
	position:absolute;
	width:185px;
	height:105;
	color:#000000;
	background:#CCCCCC;
	margin:none;
	padding:none;
	border:2px solid #898989;	
	font-family: Arial,Helvetica,sans-serif;
	z-index:2000;	
}

.EngineeringNotesPopUp{
	clear:both;
	color: #000;
	position:absolute;
	width:120px;
	height:100%;
	background: #BEBEBE;
	margin:none;	
	padding:0px 0px 0px 0px;
	border:solid 2px ;
	border-color:#323232;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	z-index:2500;
	white-space:normal;	
	overflow:auto;	
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.DeleteButton {
	width:60px;
	height:20px;
	font-size: 10px;
	font-weight:bold;
	text-align:center;
	position:absolute;
	overflow: hidden;
	left: 78%;
	top: 8px;
}
.ArchiveButton {
	display:block;
	width:33%;
	height:85%;
	margin-top:1%;
	font-size: 10px;
	font-weight:bolder;
	text-align:center;
	overflow: hidden;
	float:right;
}
.ActiveButton {
	display:none;
	width:33%;
	height:85%;
	margin-top:1%;
	font-size: 10px;
	font-weight:bolder;
	text-align:center;
	overflow: hidden;
	float:right;
}
.NewTaskButton {
	width:33%;
	height:85%;
	margin-top:1%;
	font-size: 10px;
	font-weight:bold;
	text-align:center;
	overflow: hidden;
	float:right;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ArchivedProgress {
	 float:left;  
	 overflow:hidden;  
	 white-space: nowrap;   
	 width:202px;  
	 height:25px;  
	 padding:0px 0px 0px 0px;  
	 font-weight:bold;     
	 text-align:left;
	 background-color:#999999 
	 color:#DDDDDD;  
	 border-left:1px solid #000;
	 border-right:1px solid #000; 
	 font-size: 11px;}
	
