@charset "utf-8";
/* CSS Document */

a{ cursor:pointer; font-family:Verdana, Arial, Helvetica, sans-serif; overflow:hidden; text-decoration:underline; } 
a:link{color:#blue;}
a:active{color:#blue;}
a:visited{color:#blue;}
a:hover{color:#44f;}

html{ margin:0; padding:0; overflow:hidden; width:100%; height:100%; }
body{ margin:0; padding:0; overflow:hidden; font-family:Calibri, Verdana, Geneva, sans-serif; width:100%; height:100%; }

#path{ float:left; font-family:Verdana, Arial, sans-serif; font-size:16px; height:32px; text-align:left; width:auto; }

.Toolbar{float:left;}

#TabsBar{border-bottom:#fff 3px solid; float:left; height:26px; margin:0 0 0 8%; position:relative; top:7px; width:87%;}

.tab,.activeTab{border:#aaa 1px solid; border-bottom:none; border-top-left-radius:3px; border-top-right-radius:3px; font-family:Verdana, Geneva, sans-serif; display:inline;	padding:2px 2px 5px 2px;}
.tab{ background:transparent; border-bottom:1px #888 solid; padding:2px 2px 3px 2px;}
.tab:hover{color:#40631D; border:#40631D 1px outset;}
.activeTab{ background:white; text-shadow:#40631D -1px 0 1px,#40631D -1px 0 1px;}

#OuterBox { background:url("../../images/vTiger/homePageSeperator.gif") no-repeat scroll 0 0 transparent; float:left; margin:0 0 0 1%; overflow:hidden; padding:16px 0 0 0; width:99%;}

.tabPage { border:none; display:none; font-size:14px;}
.activeTabPage { border:none; height:100%; overflow-y:auto; margin:0 0 0 1.5%; width:98.5%;}

#AcctInfoPage{ width:98.5%; overflow-x:auto; overflow-y:hidden; }
#AcctInfoWidth{ width:100%; /*min-width:992px;*/ height:95%; }
#AcctInfoLeft{ float:left; display:inline-block; width:70%; height:100%; overflow-x:hidden; overflow-y:auto; }
#AcctInfoRight{ float:left; display:inline-block; width:30%; height:100%; overflow-x:hidden; overflow-y:auto; }

.AcctInfoTable { border:none; float:left; min-height:32px; margin:32px 0 0 2%; min-height:32px; overflow:hidden; padding:0; width:93.5%; }

.AcctInfo { border:1px #ccc solid; float:left; min-height:32px; margin:0 0 0 2%; min-height:32px; overflow:hidden; padding:0; width:93.5%; }
.AcctInfoTitle { color:#2E4615; font-family:Verdana, Calibri, Arial, sans-serif; float:left; font-size:14px; font-weight:bold; min-height:32px; height:5%; overflow:hidden; padding:4px 0 0 4px; margin:5% 0 0 2%; text-overflow:ellipsis; white-space:nowrap; width:93.5%; border-top-left-radius:6px; border-top-right-radius:6px;  border-left:1px #888 solid; border-right:1px #888 solid;
	background:-moz-linear-gradient(90deg bottom right, rgba(192,192,192,1) 0%, rgba(248,248,248,1) 22%, rgba(244,244,244,1) 100%);
	background:-webkit-gradient(linear, 0 100%, 0 0, from(rgba(192,192,192,1)), color-stop(.22, rgba(248,248,248,1)), to(rgba(244,244,244,1))); 
}
.AcctInfoTitle button{ border-radius:5px; border-width:1px; float:right; font-family:Calibri, Arial, sans-serif; font-size:16px; min-height:24px; height:80%;vertical-align: top; margin:0 3px; overflow:hidden; width:24px;
 background:-moz-linear-gradient(top, #fff, #fff 20%, #ccc 90%, #888);
 background:-webkit-gradient(linear,0 0,0 100%, from(#fff),color-stop(.1, #fff),color-stop(.9, #ccc), to(#888)); }
.AcctInfoTitle button:hover{ border-color:#2E4615;
 background:-moz-linear-gradient(top, #F8FCF3, #F8FCF3 40%, #B1DB87 90%, #558327);
 background:-webkit-gradient(linear,0 0,0 100%, from(#F8FCF3),color-stop(.1, #F8FCF3),color-stop(.9, #B1DB87), to(#558327));
}
.AcctInfoTitle button:active{ border-color:#2E4615;	border-top-width:2px;	border-bottom-width:0px; 
 background:-moz-linear-gradient(top, #DDEFCB, #DDEFCB 10%, #86C745 90%, #40631D);
 background:-webkit-gradient(linear,0 0,0 100%, from(#DDEFCB),color-stop(.1, #DDEFCB),color-stop(.9, #86C745), to(#40631D));
}
.AcctInfoTitle button img{ min-height:16px;}

.AcctInfoTBottom { border-radius: 6px; border-top-left-radius:0; border-top-right-radius:0; margin-top:0;
	background:-moz-linear-gradient(-90deg top right, rgba(192,192,192,1) 0%, rgba(248,248,248,1) 22%, rgba(244,244,244,1) 100%);
	background:-webkit-gradient(linear, 0 100%,0 0, from(rgba(192,192,192,1)), color-stop(.22, rgba(248,248,248,1)), to(rgba(244,244,244,1))); 
}

.AcctInfoHeading { border-radius:2px; color:#2E4615; font-family:Verdana, Calibri, Arial, sans-serif; float:left; height:24px; width:100%;
	background:-moz-linear-gradient(90deg bottom right, rgba(224,224,224,1) 0%, rgba(240,240,240,.75) 22%, rgba(224,224,224,.75) 100%);
	background:-webkit-gradient(linear, 0 100%, 0 0, from(rgba(224,224,224,1)), color-stop(.22, rgba(240,240,240,.75)), to(rgba(224,224,224,.75))); 
}
.AcctInfoHeading div{border-left:2px rgba(255,255,255,.9) solid; border-radius:2px; border-right:1px rgba(0,0,0,.25) solid; height:100%; overflow:hidden; padding:0; text-overflow:ellipsis; white-space:nowrap;}


.rollUp{color:black; cursor:pointer; float:left; font-family:Consolas, "Courier New", Courier, monospace; font-size:19px; margin-right:6px; text-decoration:none;}
.rollUp:hover{color:#40631D; text-shadow:#2e4615 0 1px 0,#B1DB87 0 -1px 0;}
.rollUp:active{color:#40631D; text-shadow:#2e4615 0 -1px 0,#B1DB87 0 1px 0;}

.AcctInfoSingle {float:left; margin:0 0 0 1%; height:32px; width:95%;
 border-top-left-radius:10% 16px; border-bottom-left-radius:8px 16px;
 background:-moz-linear-gradient(0deg, rgba(0,0,0,.25), rgba(255,255,255,0)),-moz-linear-gradient(90deg, rgba(0,0,0,.0625), rgba(255,255,255,0));
 background:-webkit-gradient(linear,0 0,100% 0, from(rgba(0,0,0,.25)), to(rgba(255,255,255,0)));
 box-shadow:-7px 5px 4px 1px rgba(0,0,0,.5);
}
.AcctInfoSingle div{float:left; padding:6px 0 0 0;}
.AcctInfoSingleTitle {color:#2E4615; float:left; font-size:24px; font-weight:bold; margin:0 0 0 5%; padding-top:0 !important;}
#ExpTotal{ font-family:Consolas, "Cordia New", Courier, monospace; text-shadow:#2e4615 0 1px 0,#B1DB87 0 -1px 0;}

.fadeToWhite {float:left; height:10px; width:100%; 
	background:-moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
	background:-webkit-gradient(linear,0 0,100% 0, from(rgba(255,255,255,0)), color-stop(.5,rgba(255,255,255,.5)), to(rgba(255,255,255,1)));
}

.total{color:#40631D; text-shadow:#2e4615 0 1px 0,#B1DB87 0 -1px 0;}
#SystemTotal { float:right; font-size:30px; font-weight:bold; line-height:26px; margin-right:1.5%; }


.labelColumn { float:left;
 background:-moz-linear-gradient(right, rgba(0,0,0,.2), rgba(0,0,0,.1) 10px, rgba(0,0,0,.05) 128px, rgba(0,0,0,.05));
 background:-webkit-gradient(linear,100% 0,0 0, from(rgba(0,0,0,.2)),color-stop(.1, rgba(0,0,0,.1)), color-stop(.5, rgba(0,0,0,.05)), to(rgba(0,0,0,.05)));
}
.labelColumn label { border:#aaa 1px solid; border-bottom:none; display:block; height:24px; padding:0 8px 0 0; text-align:right; width:100%;}
/*
.labelColumn label:first-child { border:none; }
.labelColumn label:last-child { border:none; }
*/
.fieldColumn { float:left;}
.fieldDiv { border:#aaa 1px solid; border-bottom:none; border-left:none; display:block; float:left; font-size:14px; height:24px; line-height:14px; overflow:hidden; padding:2px 0 0 2px; white-space:pre-wrap; width:100%;  }
/*
.fieldDiv:first-child { border:none; }
.fieldDiv:last-child { border:none; }
*/
.labelColumnT { float:left;
 background:-moz-linear-gradient(right, rgba(0,0,0,.2), rgba(0,0,0,.1) 10px, rgba(0,0,0,.05) 128px, rgba(0,0,0,.05));
 background:-webkit-gradient(linear,100% 0,0 0, from(rgba(0,0,0,.2)),color-stop(.1, rgba(0,0,0,.1)), color-stop(.5, rgba(0,0,0,.05)), to(rgba(0,0,0,.05)));
}
.labelColumnT label { border:#aaa 1px solid; border-bottom:none; display:block; font-size:16px; height:48px; line-height:150%; overflow:hidden; padding:0 8px 0 0; white-space:nowrap; text-align:right; width:100%;}
/*
.labelColumnT label:first-child { border:none; }
.labelColumnT label:last-child { border:none; }
*/

.fieldDivT { border:#aaa 1px solid; border-bottom:none; display:block; font-size:16px; height:48px; line-height:150%; overflow:hidden; padding:0 0 0 2px; white-space:nowrap; width:100%;  }
/*
.fieldDivT:first-child { border:none; }
.fieldDivT:last-child { border:none; }
*/

.editLink {color:#cce; float:right; font-size:10px; margin:0 3px 0 0; font-weight:bold; text-decoration:none; z-index:10000;}
.editLink:hover{color:#44f; text-decoration:underline;}

.editField { float:left; width:49%;}
.editButton { background:#eee; display:inline; float:left; height:18px; padding:0px 2px 1px 2px; margin:0 2px 2px 2px; text-align:center;
	border-radius:5px; border:#888 1px solid; border-top:none; border-bottom:#000 1px solid; 
	font-family:Calibri, Arial, sans-serif; font-size:12px; 
}
.editButton:hover{background:#f8f8f8;}
.editButton:active{ border:#888 1px solid; border-top:#000 2px solid; border-bottom:#fff 1px solid; padding:0px 2px 1px 2px; }
.editImg { float:left; height:24px; margin:0 2px 0 2px; width:24px;}


.systemLink{color:#444; display:block; float:left; font-size:12px; height:20px; margin:0; overflow-y:auto; padding:2px 0 2px 0; text-align:center; width:100%;}
.sysLink  {color:#444; display:block; float:left; font-size:14px; height:20px; margin:0 1% 0 1%; padding:2px 0 2px 0; text-align:center; }
.sysLinkText { height:14px; }
.sysStatus { background:#999; border-radius:50%; display:inline-block; height:14px; width:14px; }

.AcctInfoList{width:100%; text-align:center;}
.AcctInfoListHead {color:#000; float:left; font-family:Tahoma, Geneva, sans-serif; font-size:16px; height:24px; overflow:hidden; margin:0 0 0 2%; white-space:nowrap; width:93.5%;
 border-left:1px #888 solid; border-bottom:1px #888 solid;
 background:-webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(.39, #FFF), color-stop(.4, #F7F8FA), to(#F1F2F4));
 background:-moz-linear-gradient(-90deg top left, #FFF, #FFF 39%, #F7F8FA 40%, #F1F2F4); 
}
.AcctInfoListHead div{ float:left; overflow:visible; white-space:nowrap; height:100%; text-align:center; border-right:1px solid #888; }

.AcctInfoListRow {cursor:default; height:25px; float:left; margin:0 0 0 2%; overflow:hidden; width:93.5%;	border-bottom:1px solid #C0C0C0; border-right:1px solid #888; border-left:1px solid #888;  font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.AcctInfoListRow:firstChild{ border-left:1px solid #888; }
.AcctInfoListRow:lastChild{ overflow:visible; }
.AcctInfoListRow div { float:left; overflow:hidden; white-space:nowrap; height:100%; text-align:center; border-right:1px solid #888; }
.AcctInfoListRow input { float:left; overflow:hidden; white-space:nowrap; height:100%; text-align:center; border-right:1px solid #888; }
.AcctInfoListRow:firstChild{ border-left:1px solid #888; }
.AcctInfoListRow {border-right:none;}

.AcctInfoListRow:hover{background:rgba(255,255,0,.25);}
.AcctInfoListRow div[contenteditable=true] { background-color:rgba(0,192,0,.25); cursor:text; text-overflow:inherit;}

.rowEdit{border:none; background:url(../../images/Pencil-gray16.png) center no-repeat; background-color:#eee; height:100%; margin:0; padding:0; width:100%;}
.rowEdit:hover{border:2px outset #DDEFCB; background:url(../../images/Pencil-icon16.png) center no-repeat, rgba(128,196,64,.25); height:100%; width:100%;}
.rowEdit:active{border:2px inset #DDEFCB;}

.rowSave{border:none; background:url(../../images/save_16.png) center no-repeat; background-color:#eee; height:100%; margin:0; padding:0; width:100%;}
.rowSave:hover{border:2px outset #DDEFCB; background:url(../../images/save_16.png) center no-repeat, rgba(128,196,64,.25); height:100%; width:100%;}
.rowSave:active{border:2px inset #DDEFCB;}


#Modal{ background:rgba(112,171,52,.75); display:none; height:100%; left:0; position:absolute; top:0; width:100%; z-index:10000;}

#addCustBox,#addProvBox{ background:#FFF; display:none; font-family:Georgia,"Times New Roman",Times,serif; height:320px; left:25%; padding:0; top:25%; width:320px; z-index:10100; }
#addCustBox,#addProvBox{ background:#FFF; display:none; font-family:Georgia,"Times New Roman",Times,serif; height:320px; left:25%; padding:0; top:25%; width:320px; z-index:10100; }
	#custList,#provList {border:#ccc 1px solid; height:192px; margin:8px 0 8px 0; overflow-x:hidden; overflow-y:auto; width:95%;}
	.custListItem{cursor:pointer; text-align:center; width:100%; }
	.custListItem:hover { color:blue; text-decoration:underline }
#NewSysBox{ background:#FFF; display:none; font-family:Georgia,"Times New Roman",Times,serif; height:120px; left:25%; padding:0; top:25%; width:320px; z-index:10100; }
	.newSysBoxRow{height:20px; width:90%;}
		.newSysBoxRow div{border:#000 0px dotted; padding:0;}
		.newSysBoxRow label{border:#000 0px dotted; padding:0;}
		.newSysBoxRow input{height:100%;}
		
		.newSysLabel{ float:left; text-align:right; white-space:nowrap; width:33%; }
		.newSysTxt{ float:left; text-align:left; white-space:nowrap; width:66%; }
		
		.newSysLabel2{ float:left; text-align:right; white-space:nowrap; width:16.5%; }
		.newSysTxt2{ float:left; text-align:left; white-space:nowrap; width:33%; }
		.newSysBlock2{ float:left; text-align:left; white-space:nowrap; width:49.5%; }
		
		.newSysLabel3{ float:left; text-align:right; white-space:nowrap; width:11%; }
		.newSysTxt3{ float:left; text-align:left; white-space:nowrap; width:22%; }
		.newSysBlock3{ float:left; text-align:left; white-space:nowrap; width:33%; }
		
		.newSysLabel4{ float:left; text-align:right; white-space:nowrap; width:8.25%; }
		.newSysTxt4{ float:left; text-align:left; white-space:nowrap; width:16.5%; }
		.newSysBlock4{ float:left; text-align:left; white-space:nowrap; width:24.75%; }
		
		.newSysLabel6{ float:left; text-align:right; white-space:nowrap; width:5.5%; }
		.newSysTxt6{ float:left; text-align:left; white-space:nowrap; width:11%; }
		.newSysBlock6{ float:left; text-align:left; white-space:nowrap; width:16.5%; }


#AddPartContainer{	position:absolute; top:5%; right:10%; width:800px; height:400px; display:none; z-index:201000; overflow:hidden; border-radius:12px; border-bottom-left-radius:24px; border-bottom-right-radius:24px; }
#AddPartContainer iframe{border:none; height:375px; width:100%;}
#AddPartTitle{height:25px; width:100%; background:#40631D; padding:4px 0 0 0; margin:0; font-family:Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold; text-align:center; color:#FFF; z-index:202100; }

#AddLaborContainer{	position:absolute; top:5%; right:10%; width:800px; height:400px; display:none; z-index:201000; overflow:hidden; border-radius:12px; border-bottom-left-radius:24px; border-bottom-right-radius:24px;  }
#AddLaborContainer iframe{border:none; height:375px; width:100%;}
#AddLaborTitle{height:25px; width:100%; background:#40631D; padding:4px 0 0 0; margin:0; font-family:Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold; text-align:center; color:#FFF; z-index:202100; }


#AddTravelContainer{background:#FFF; display:none; height:256px; left:10%; position:absolute; top:5%; width:192px; z-index:201000; overflow:hidden; border-radius:12px; border-bottom-left-radius:24px; border-bottom-right-radius:24px;  }
#AddTravelTitle{height:25px; width:100%; background:#40631D; padding:4px 0 0 0; margin:0; font-family:Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold; text-align:center; color:#FFF; z-index:202100; }

.BoxRow { text-align:center }

#copyModal,#dupModal{ background:rgba(12,64,0,.5); display:none; height:100%; left:0; position:absolute; top:0; width:100%; z-index:200000;}
#copyWindow,#dupWindow {background:#F0FFE0; width:384px; height:auto; top:5%; left:25%; display:block;}
#cwTitle,#dwTitle{ font-weight:bold; text-align:center; color:#fff; text-shadow: -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, 1px 1px 1px #000;
 background:-moz-linear-gradient(top, rgba(24,128,0,.6), rgba(24,128,0,.7) 10%, rgba(24,128,0,.8) 50%, rgba(192,255,96,9));
 background:-webkit-gradient(linear,0 100%,0 0, from(rgba(24,128,0,.6)),color-stop(.1, rgba(24,128,0,.7)), color-stop(.5, rgba(24,128,0,.8)), to(rgba(192,255,96,9)));
}
.redXCircle{text-shadow:none;}

.presetItem { background:rgba(255,255,255,.95); width:100%; }
.presetItem:hover{ background:rgba(224,240,192,.85); }

.lhItem { background:#eee; height:48px; overflow:hidden;
 border:2px #ccc solid; border-top:#eee 3px solid; border-bottom:1px #888 solid; border-radius:10px; border-style:solid;
	text-shadow:-2px -2px 2px #FFF, -2px 2px 2px #FFF, 2px -2px 2px #FFF, 2px 2px 2px #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 1px 1px 0 #FFF;
}
	.lhImg { height:48px; margin:0; opacity:.75; width:100%;
		border-top-left-radius:5% 10%; border-top-right-radius:5% 10%; border-bottom-left-radius:5% 10%; border-bottom-right-radius:5% 10%; 
	}
	.lhCheck {float:left; margin:2px 4px 0 0; opacity:.75; position:relative; top:-150%; width:10%;}
	.lhName{font-size:12px; font-weight:bold; height:16px; line-height:14px; overflow:hidden; margin:0; position:relative; text-overflow:ellipsis; top:-36px; white-space:nowrap; width:100%;
}
.lhItem:hover { background:#fff; text-shadow:-2px -2px 2px #DDEFCB, -2px 2px 2px #DDEFCB, 2px -2px 2px #DDEFCB, 2px 2px 2px #DDEFCB, -1px -1px 0 #DDEFCB, -1px 1px 0 #DDEFCB, 1px -1px 0 #DDEFCB, 1px 1px 0 #DDEFCB;}

.custCheck {float:left; margin:2px 4px 0 0; }
.pdCheck {float:left; margin:2px 4px 0 0;}


#SystemsBar { border-radius:8px; height:32px; padding:0; position:absolute; top:0; left:0; overflow:visible; width:95%; white-space:nowrap; z-index:100000; 
 background:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(224,224,224,1) 67%, rgba(192,192,192,.25));
 background:-webkit-gradient(linear,0 0,0 100%, from(rgba(255,255,255,1)), color-stop(.67, rgba(224,224,224,1)), to(rgba(192,192,192,.25)));
}

#systemLinkList { width:50%; float:left; height:100%; overflow-x:hidden; overflow-y:hidden; z-index:0; color:#000; opacity:.8; }
#systemLinkList:hover {overflow-y:visible;}

#statusPopup {background:#ddd; border:1px outset #eee; border-radius:3px; box-shadow:5px 5px 5px rgba(0,0,0,.25); display:none; height:72px; padding:0 0 0 4px; position:absolute; width:272px; z-index:1000; line-height:24px; }
#statusTestUntil { width:136px; border:2px #ddd solid; padding:0 0 0 4px; margin:0; height:20px; line-height:20px; border-radius:10px; }

.statusActive { float:left; background:#0c0; border-radius:50%; border:2px outset rgba(0,192,0,1); box-shadow:0 0 24px #0c0; cursor:pointer; height:18px; margin-left:8px; width:18px; }
.statusInactive { float:left;	background:#c00; border-radius:50%; border:2px outset rgba(192,0,0,1); box-shadow:0 0 24px #c00; cursor:pointer; height:18px; margin-left:8px; width:18px; }
.statusOnTest { float:left;	background:#cc0; border-radius:50%; border:2px outset rgba(192,192,0,1); box-shadow:0 0 24px #cc0; cursor:pointer; height:18px; margin-left:8px; width:18px; }
#acctStatusText { float:left; font-size:18px; line-height:18px; padding-left:8px;}