@charset "utf-8";
/* CSS Document */


html,body{
	position:absolute;
	top:0px;
	left:0px;
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	white-space: nowrap;
	z-index:1000000;
}

html{
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	overflow:auto;
	white-space: nowrap;
	z-index:1000000;
}

body{
	height: 100%;
	width: 100%;
	max-height: 100%;
	max-width: 100%;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	overflow:hidden;
	white-space: nowrap;
	z-index:1000000;
}

.Modal{
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	filter:alpha(opacity=80);
	opacity:0.80;
	display:block;
	margin:0 0 0 0;
	text-align:center;
	font-size:36px;
	background:#B4DAF5;
	padding:30% 0 0 0;
	z-index:100000;
}

/*Main Top Box/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.TopMainBar {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:53px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	overflow:hidden;
	white-space: nowrap;
	background: url('../../TMCManagement/images/TMCHeader.gif');
	z-index:998;
}

.TopMainBarL {
	position:absolute;
	top:0;
	left:0;
	width:2px;
	height:60px;
	float:left;
	overflow:visible;
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/*background: url('images/TMCHeader-L.gif');/**/
}	

.TopMainBarR{
	position:absolute;
	top:0px;
	left:3%;
	width:97%;
	height:60px;
	float:right;
	margin:0px 0px 0px 0px;
	padding: 17px 0px 0px 0px;
	overflow:visible;
	white-space: nowrap;
	
	
}







.SlideTab{
	overflow:hidden;
	white-space: nowrap;
	position:relative;
	float:right;
	height:25px;
	width:12px;
	/*background:none#FF66CC/**/;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	cursor:pointer;
	border-left:0px solid #CCC;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#000;
	text-align:center;
	z-index:1000;
	background: url('../../TMCManagement/images/TMCHeader.gif');
	display:none;
}


.SlideTabs{
	position:absolute;
	float:right;
	list-style:none;
	width:100%;
	height:25px;
	display:block;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.SlideTabs li {
	float:right;
	cursor:pointer;
	height:25px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	text-align:center;
	display:inline;
	overflow:hidden;
/*	border-top:1px solid #BBB;
	border-right:1px solid #999;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC; /**/
}

.SlideTab{width:4.25%; max-width:128px; float:right; cursor:pointer; height:25px; background:url(../../TMCManagement/images/BlackGradient2-24x24.gif);color:#DDD; height:64px; display:block;}
.SlideTab:hover{width:12.75%; max-width:144px;}

.SlideTabText {
	display:inline-block;
	font-family:Calibri, Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight:bold;
	height:24px;
	left:-23px;
	line-height:18px;
	margin:0px 0px 0px 0px;
	overflow:visible;
	/*overflow:hidden;*/
	padding: 4px 0px 0px 10%;
	position:relative;
	text-align:left;
	white-space: nowrap;
	width:200%;
	z-index:100;
}
.UnderTabs{
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 12px;
	left: 0px;
	margin: 0;
	position: absolute;
	text-align: left;
	text-shadow: white -1px -1px 1px;
	top: 41px;
	width: 100%;
	z-index: 999;
	line-height: 12px;
	padding: 0px 0px 0px 16px;
	border-top-left-radius: 24px 12px;
	/*
	*/
}

.LogOut{
	position:absolute;
	top:0px;
	width:100%;
	height:10px;
	font-family: Verdana;
	font-size: 13px;
	overflow-y:visible;
	float:right;
	z-index:10000000;
}

.CalendarMain{
	display:block;
}

.TabMainContainer{
	position:absolute;
	width:100%;
	height:100%;
	display:block;
	
}
.TabSubContainer{
	width:100%;
	height:100%;
	display:none;
}
#oldBidderFrame{position:absolute; top:5%; left:216px; width:90%; height:90%; display:none;}


.Cal2Btn{ height:18px; width:32px; font-size:10px; background-color:#444; color:#EEE; padding:0px;}
.Cal2Btn:hover{font-size:12px; background-color:#666; color:#FFF;}


#Iframes{
	position:relative;
	text-align:center;
	width:100%;
	height:100%;
}

#ViewersBox{
	position:absolute;
	top:8px;
	left:192px;
	width:128px;
	min-height:16px;
	height:16px;
}
#ViewersBox:hover{height:auto;}

#NumViewers{width:100%; float:left; clear:both;}