@charset "utf-8";
/* CSS Document */

a{text-decoration:none;}
a:active{color:#800;}
a:visited{color:#80c;}
a:hover{text-decoration:underline;}

body{	height:100%; margin:0; padding:0; color:#008; }
div{cursor:default;}
html{	height:100%; overflow:hidden; }
input{outline:none;}
textarea{outline:none;}
* { color:#22a; } 


#List	{	height:90%;	overflow-y:auto; overflow-x:hidden; width:100%; }

#Loading{ background:rgba(192,192,255,.7); display:none; filter:alpha(opacity=70); height:100%; left:0; opacity:.7; position:absolute; top:0; width:100%; z-index:100000;}

.TLItemsContainer{ padding:0; overflow:hidden; height:100%; margin:0 0 20px 0; min-width:792px; width:99%; float:left; z-index:100000;	}

#ContactListFrame{	height:100%; width:100%;	}

#TLItemsBottom{	position:relative; height:8px; width:100%; background:none; margin:0; padding:0; overflow:hidden;	}

#statusPopup {background:#ddd; border:1px outset #eee; border-radius:3px; box-shadow:5px 5px 5px rgba(0,0,0,.25); display:none; height:24px; padding:0 0 0 4px; position:absolute; width:192px; }

#listHead {height:40px; margin:8px 0 0 0; overflow:hidden; width:100%; }
	#listToolbar { background:none; margin:.1% 0 0 2%; padding:5px 0 0 0; width:97.5%; }
		#lLMax { float:right; font-size:14px; height:18px; margin:5px 0 0 0; white-space:nowrap; }
		#lMax { width: 48px; }
		#selShowContacts { float:right; font-size:14px; height:18px; margin:5px 0 0 0; text-align:center; width:96px; }
		#selShowContacts option { text-align:center; width:100%; }

#ItemsHead { font-family:Verdana,Helvetica,sans-serif; font-size:16px; height:24px; overflow:hidden; margin:0 0 0 2%; white-space:nowrap; width:98%;
 border:1px #888 solid; border-top-left-radius:2px; border-top-right-radius:2px;
 background:-webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(.39, #FFF), color-stop(.4, #F7F8FA), to(#F1F2F4));
 background:-moz-linear-gradient(-90deg top left, #FFF, #FFF 39%, #F7F8FA 40%, #F1F2F4);
}
#ItemsHead div:Active { background-color:#eee; 
 background:-webkit-gradient(linear, left bottom, left top, from(#FFF), color-stop(.39, #FFF), color-stop(.4, #F7F8FA), to(#F1F2F4));
 background:-moz-linear-gradient(90deg top left, #FFF, #FFF 39%, #F7F8FA 40%, #F1F2F4);
}

.HeadCheck { float:left; overflow:visible; white-space:nowrap; width:5%; height:100%; text-align:center; border-right:1px solid #fff; }
#HeadId { float:left; overflow:visible; white-space:nowrap; width:5%; height:100%; text-align:center; border-left:1px solid #888; border-right:1px solid #fff; }
#HeadName { float:left; overflow:hidden; white-space:nowrap; width:25%; height:100%; text-align:center; border-left:1px solid #888; border-right:1px solid #fff; }
#HeadAddr { float:left; overflow:hidden; white-space:nowrap; width:25%; height:100%; text-align:center; border-left:1px solid #888; border-right:1px solid #fff; }
#HeadPhone { float:left; overflow:hidden; white-space:nowrap; width:10%; height:100%; padding:0; text-align:center; border-left:1px solid #888; }
#HeadFax { float:left; overflow:hidden; white-space:nowrap; width:10%; height:100%; padding:0; text-align:center; border-left:1px solid #888; }
#HeadNotes { float:left; overflow:hidden; white-space:nowrap; width:19%; height:100%; padding:0; text-align:center; border-left:1px solid #888; border-right:1px solid #fff; }

.ItemCheck{	width:5%; min-width:20px; height:100%; min-height:25px; float:left; overflow:hidden; font-family:Arial,Helvetica,sans-serif; padding:6px 0 0 0; text-align:center; border:none; border-left:1px solid #C0C0C0; border-bottom:1px solid #C0C0C0; cursor:default; white-space:nowrap;}

.ItemId{height:100%; width:5%; line-height:49px; min-width:32px; min-height:25px; float:left; font-family:Consolas, "Courier New", Courier, monospace; font-weight:normal; padding:3px 0 0 0; text-align:center; border-left:1px solid #C0C0C0; border-bottom:1px solid #C0C0C0; cursor:default;	}
.ItemName{	width:25%; min-width:31px; height:100%; line-height:49px; float:left; overflow:hidden; white-space:nowrap; font-family:Calibri,Arial,Helvetica,sans-serif; font-size:20px; text-align:left; text-overflow:ellipsis; border-left:1px solid #C0C0C0; cursor:default; -moz-box-sizing:content-box;}
	.download { cursor:copy; float:left; }
	.cName{ position:relative; /*left:-32px; padding-left:24px;background:white;*/ color:blue; cursor:pointer; display:inline; height:50%; margin:0 0 0 2%; width:100%; }
	.cName:hover{color:blue !important; /*left:-8px; padding-left:0;*/ }
.ItemName img { visibility:hidden; }
.ItemName:hover img { visibility:visible; }
.ItemAddr{height:100%; width:25%; min-width:32px; min-height:25px; float:left; font-family:Calibri,Arial,Helvetica,sans-serif; font-size:12px; font-weight:normal; padding:3px 0 0 0; text-align:left; border-left:1px solid #C0C0C0; border-bottom:1px solid #C0C0C0; cursor:default;	white-space:nowrap; overflow:hidden;}
.ItemPhone{ width:10%; height:100%; min-width:16px; min-height:25px; line-height:49px; float:left; overflow:hidden; white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif-size; font-size:11px; padding:3px 0 0 0; border-left:1px solid #C0C0C0; border-bottom:1px solid #C0C0C0; text-align:center; padding:}
.ItemFax{	width:10%; min-width:64px; height:100%; min-height:25px; line-height:49px; float:left; overflow:hidden; font-family:Arial,Helvetica,sans-serif; font-size:11px; padding:3px 0 0 0; text-align:center; background:none; padding:0; border:none; border-left:1px solid #C0C0C0; border-bottom:1px solid #C0C0C0; cursor:default; white-space:nowrap;}
.ItemNotes{ width:19%; min-width:64px; height:100%; min-height:25px; float:left; overflow:visible; font-family:Arial,Helvetica,sans-serif; font-size:9px; padding:3px 0 0 0; text-align:left; background:none; padding:0; border:none; border-left:1px solid #C0C0C0; border-bottom:1px solid #C0C0C0; cursor:default; white-space:wrap;}

.statusOpen {	background:#888; border-radius:50%; border:2px outset rgba(128,128,128,1); box-shadow:0 0 24px #888; cursor:pointer; height:18px; margin:auto; width:18px; }
.statusWon { background:#0c0; border-radius:50%; border:2px outset rgba(0,192,0,1); box-shadow:0 0 24px #0c0; cursor:pointer; height:18px; margin:auto; width:18px; }
.statusLost {	background:#c00; border-radius:50%; border:2px outset rgba(192,0,0,1); box-shadow:0 0 24px #c00; cursor:pointer; height:18px; margin:auto; width:18px; }