@charset "utf-8";
/* CSS Document */
/* Top Control Bar ///////////////////////////////////////////////////////////////////////////////*/

a{text-decoration:none;} 

a:link{color:#09273E;}
a:active{color:#09273E;}
a:visited{color:#09273E;}
a:hover{color:#169A70;}

* { color: #07c; }

li{/*text-shadow:#FFF 0 0 3px;*/ font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.ModalScreen{ position:absolute; display:none; background:#999; filter:alpha(opacity=60); opacity:.6; width:100%; height:100%; text-align:center; margin:0; z-index:5000;}
#InterEventModalScreen { z-index:6000;  }
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.CalendarMainDIV { position:absolute; width:100%; height:100%; top:1px; align:left; }  

.Topheader { /*This is The text over the calendar*/
	font-family: Arial,Helvetica,sans-serif; font-weight:normal; font-size:12px; height:3%; min-height:12px; text-align:center; padding:0;}

#ReloadFrame{ position:relative; top:0px; left:auto; float:right; font-family:Arial, Helvetica, sans-serif; padding:0; margin:0 2px 0 0; height:24px; width:24px; font-size:18px; text-align:center; vertical-align:top; border:2px solid rgba(255,255,255,0); border-radius:10px; background:#ccc; }
#ReloadFrame:hover{ border-color:#eee #ccc #555 #ccc; background:#eee; }
#ReloadFrame:active{ border-color:#555 #ccc #eee #ccc; background:#888; }


.TopControl { /*This is the DIV around the whole Top Control Bar*/
	position:relative; overflow:hidden; width:100%; height:3%; min-height:20px; padding:0; margin:0; border:0px solid Red; z-index:700; background:none;}

/*Prev Month Arrow and Hover*/
.PrevDiv { float: left;}

.buttonPrev{ word-spacing: 3px; letter-spacing: 1px; cursor: Hand;}

/*Next Month Arrow and Hover*/
.NextDiv { float: left;}

.buttonNext{ word-spacing: 3px; letter-spacing: 1px; cursor: Hand;}

/*Today Button and Hover*/
.TodayDiv { float: left;}

.buttonToday{ word-spacing: 3px; letter-spacing: 1px; cursor: Hand;}

.DateHeadDIV { padding:3px 0 0 2px; float: left; width:auto;}
.DateHead {font-family:Arial,Helvetica,sans-serif; font-weight:bold; font-size: 14px; text-align:left; cursor:pointer;}
	
.DateHeadSolo { /*Month & Year w/o controls*/ font-family: Arial,Helvetica,sans-serif; font-weight:bold; font-size: 14px; text-align:center; }

.Status {margin: 2px 5px 0 0; padding: 0 12px 0 0; float: right; Background:#FFCC66; font-family: Arial,Helvetica,sans-serif; font-weight:bold; font-size: 12px; text-align:center; }

.MonthDiv { float: left;}
.buttonMonth{ word-spacing: 3px; letter-spacing: 1px; cursor: Hand;}

.WeekDiv { float: right;}
.buttonWeek{ word-spacing:3px; letter-spacing:1px; cursor:Hand;}

.DateTodayDiv{ float: right; width:160px; height:20px; padding:0; Margin:0; background: #bbbb00; border: 1px solid #FFF; }
.DateToday{padding:4px 3px 0 6px; font-family: Arial,Helvetica,sans-serif; font-size: 10px; font-weight:bold; }

.WeekIDDiv {padding: 8px 4px 0 0; float: right; width:auto;}
.WeekID {text-align:left;}

/*CreateEvent Button and Hover*/
.EventDiv { float: right;}
.buttonEvent{ margin:0; padding:0; word-spacing: 1px; letter-spacing: 1px; cursor: Hand;}

.SelectDate {/* month and year select box div*/ margin:0 3px 0 3px; padding:0; float: right;  }
.GetDateBtnDiv { /*Button That gets the selected dates from the dropdowns*/	float: right;}	
.GetDateBtn { margin:0; padding:0; word-spacing:1px; letter-spacing:1px; cursor:Hand;}
/*//////////////////////////Calendar Layout//////////////////////////////////////////////////////////////////////////////////////*/

#CalendarPlaner { width:100%; }

.tableMain {/*Table Data Formating For Today*/ position:relative; width:100%; height:100%; z-index:500;}

.tableMainPopup {/**/ width:100%; height:95%; z-index:500;}

.tdWeek {/*Table Data Formating For Week Numbers */float:left; text-align:center; margin:0; padding:0; width:2%; min-width:25px; cursor:pointer; height:100%; }

.WeekContainer {position:relative; overflow:hidden; height:100%; width:100%; margin:0; padding:0; Background:#FFF; float:none; }
.WeekContainerPop { position:relative; overflow:hidden; height:100%; width:100%; margin:0; padding:0; Background:#FFF; z-index:1000;}

.WeekDayHeader{ text-align:center; float:left; width:13.5%; border:1px solid #e6d04a; border-left:none; text-shadow:#FFF 0 0 3px,#FFF 0 0 3px,#FFF 0 0 3px,#FFF 0 0 3px; color:#363; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";}
.WeekNumHeader{ text-align:center; float:left; max-width:2%; min-width:24px; border:1px solid #99ff99; font-size:10px; text-shadow:#FFF 0 0 3px,#FFF 0 0 3px,#FFF 0 0 3px,#FFF 0 0 3px; color:#036; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";}

.tdCalendar4rows { margin:0; padding:0; height:22.75%; width:100%;}
.tdCalendar5rows { margin:0; padding:0; height:18.2%; width:100%;}
.tdCalendar6rows { margin:0; padding:0; height:15.1666%; width:100%;}

.tdCalendarDay4rows { float:left; margin:0; padding:0; width:13.5%; height:100%; min-height:100%; overflow:hidden; border-bottom:#88bbff; }
.tdCalendarDay5rows { float:left; margin:0; padding:0; width:13.5%; height:100%; min-height:100%; overflow:hidden;}
.tdCalendarDay6rows { float:left; margin:0; padding:0; width:13.5%; height:100%; min-height:100%; overflow:hidden;}
.tdCalendarDayPopup { margin:0; padding:0; height:100%; width:12.5%; text-align:center; cursor:pointer;}

.DayContainerDIV { float:left; position:relative; overflow:hidden; height:94%; min-width:100%; width:100%; z-index:1000;}
.DayContainerTodayDIV { float:left; position:relative; overflow:hidden; height:94%; min-width:100%; width:100%; z-index:1000;}
.DayContainerOtherDIV { float:left; position:relative; overflow:hidden; height:94%; min-width:100%; width:100%; z-index:1000;}
.DayContainerHoverDIV{ float:left; position:relative; overflow:hidden; height:100%; min-width:94%; width:100%; z-index:1000;}

.DayHeaderDiv{ position:relative; min-height:13px; height:5%; width:100%; max-width:100%; margin:0; padding:0; cursor:pointer; z-index:1000; }
.DayHeaderTodayDiv{ position:relative; min-height:13px; height:5%; width:100%; margin:0; padding:0; cursor:pointer; z-index:1000;}

.DayBox{margin:0; padding:0 0 10px 0; height:100%; min-height:100%; overflow:hidden; z-index:1000;}

.DayNumber{ font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:bold; line-height:12px; position:relative; float:left; height:100%; margin:0; padding:0 0 0 4px; cursor:pointer; overflow:visible;}
.DayPreview{position:relative; float:right; width:30%; margin:0; padding:0 6px 0 0; cursor:pointer; text-align:right;}

.DayEvent{ height:14px; width:100%; margin:0; padding:0; overflow:hidden; white-space:nowrap; font-family:Verdana, Geneva, sans-serif; font-size:10px; float:left; font-weight:normal; cursor:pointer; z-index:5000; text-overflow:ellipsis;}


.WeekEvent{ position:relative; height:14px; width:97%; background:#ccc; overflow:hidden; border: 1px solid #BBB; padding:0; margin:0px 0px 0px 1px; font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:bold; color:#448844; cursor:crosshair; z-index:5000;}

.OverflowNumber{ position:relative; height:14px; width:97%; background:none; overflow:hidden; border:0px solid #BBB; padding:0; margin:0; top:-2px; font-family:Consolas,Arial,Helvetica,sans-serif; font-size:12px; font-weight:normal; text-align:center; color:#33F; cursor:default; z-index:5000;}

.OverflowNumber:hover{ background:-webkit-gradient(linear,left top,left bottom, color-stop(0,rgba(255,255,255,.2)), color-stop(.2,rgba(255,255,255,.8)), color-stop(1,rgba(255,255,255,.2)));}

.CalendarMain{ height:100%; min-height:320px; padding:0px 0 0 0; }

/************************************The following are specifically for Drag and Drop*****************************************/
#CalendarMain{ /* Main container for this script */ -moz-user-select:none; }
	#CalendarMain ul{	/* General rules for all <ul> */ margin-top:0px; margin-left:0px; margin-bottom:0px; padding:0px; }
	
	#CalendarMain li, #dragContent li, li#indicateDestination{/* Movable items, i.e. <LI> */ list-style-type:none;	}

	li#indicateDestination{	/* Small Box indicating where content will be dropped - i.e. the one you use if you don't use arrow */ border:1px solid #708270; background-color:#FFF; height:16px; }
	
	#CalendarMain .mouseover{	/* Mouse over effect on drag */ background-color:#EBEDEB; border:0px solid Red; }
	
	#dragContent{	/* Drag container */ position:absolute; width:100px; height:16px; display:none; margin:0px; padding:0px; z-index:20000; border:rgba(255,255,255,.5) 1px solid; border-radius:7px; }

	#dragDropIndicator{	/* DIV for the small arrow */ position:absolute; width:7px; height:10px; display:none; z-index:1000; margin:0px; padding:0px; }
/************************************The above are specifically for Drag and Drop********************************************/

/* ///////////////////////////////////////////New Event MODAL //////////////////////////////////////////////////////////////////// */
.NewEventTaskBox{ position:absolute; display: none; height:auto; width:640px; top:20%; left:26%; background:#FFF; border: 1px solid #AAA; padding:0; margin:0 0 0 1px; font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:bold; text-align:center; color:#33F; z-index:5600;}

.NewEventBox{ position:absolute; display: none; width:616px; top:22%; left:26%; background:#FFF; border: 1px solid #AAA; padding:0; margin:0px 0px 0px 1px; font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:bold; text-align:center; color:#33F; white-space:normal; z-index:5500; }
.NewEventBox label{white-space:nowrap;}

#NewEventBoxLeft, #NewEventBoxRight { 	width:50%; height:268px; padding:8px 4px 0 4px; float:left; }

.JobSelectionBox{ position:absolute; top:33%; left:33%; width:33%; height:33%; display:none; margin:auto; z-index:5800; background:#bbffbb; text-align:center;}

.EventLabelText{font-family:Consolas, "Courier New", Courier, monospace; font-weight:normal; font-size:14px; text-align:right; }

.NewEventHeaderText{ cursor:auto; font-family:Calibri,Arial,Helvetica,sans-serif; font-size:16px; font-weight:bold; text-align:Left; color:#FFF; padding:2px 0 0 5px; vertical-align:middle;}

.EventTextBox{ cursor:auto; font-family:Calibri,Arial,Helvetica,sans-serif; font-size: 12px; font-weight:normal; text-align:left; border: 1px solid #666; border-bottom: 1px solid #AAA; border-right: 1px solid #AAA; }

.EventListBox{ cursor:auto; font-family:Arial,Helvetica,sans-serif; font-size: 12px; font-weight:normal; text-align:left; border: 1px solid #666; border-bottom:1px solid #AAA; border-right: 1px solid #AAA; }

.EventDetailsScreen{ position:absolute; display: none; /*	height:240px; width:288px; */	height:1px; width:1px; top:105px; left:325px; background:#eeffee; border: 0 solid #0FF; padding:0; margin:0 0 0 1px; font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:bold; text-align:center; color:#33F; z-index:6000; }

#JobName, #SuperList, #AreaList, #PhaseList {visibility: hidden}



#newCustBtn {float:right; }
#addCustomerBox { top:10%; left:5%; width: 320px; position:absolute; display: none; background:#FFF; border: 1px solid #AAA; padding:0; margin:0px 0px 0px 1px; font-family: Arial,Helvetica,sans-serif; font-size: 11px; font-weight:bold; text-align:center; color:#33F; white-space:normal; z-index:6600; border-top-left-radius: 5px; border-bottom-right-radius: 5px; }
#addCustomerTitle { font-size:18px;}
#addCustomerBox label{white-space:nowrap; background: none;}
#addCustInnerBox { padding:5px; width:100%; background:#ddffdd; }
.addCustButton {font-weight: bold; padding:3px;}
#addCustExistingListLabel { display:none; font-weight: normal; font-size:larger; background:white; text-align: justify; padding:1px 2px;}
#existingContactList { height:auto; max-height: 160px; width:100%; overflow-y: auto; margin: 0 0 8px 0; background:white; }
#existingContactList button {margin:4px 0; }


li{border:none;}