.white {
	color: #003366; font-weight: bold; text-decoration: none;
	font-size: 12px;
        
}

a.leftNav {
        color: #003366; font-weight: bold; text-decoration: none;
        font-size: 12px;
        display: block;
        background-color: #D0D0D0;
        width: 120px;
}

p, td, body{
        font-family: arial, Verdana, Helvetica, sans-serif;
        font-size: 14px;
}

.contentcell {
	margin-left: 20pt;
	margin-right: 10pt;
}

dt {
	font-family: Verdana, Helvetica, Arial;
	margin-top: 10px;

}

dt.faq {
	font-family: Verdana, Helvetica, Arial;
	margin-top: 12px;
	color: red;
	font-size: larger;
}

dt.feat {
	font-family: Verdana, Helvetica, Arial;
	margin-top: 12px;
	margin-left: 10px;
	color: blue;
	font-size: larger;
}

dd.feat {
	font-family: Verdana, Helvetica, Arial;
	margin-left: 20pt;
	margin-top: 10px;
}

a {
	font-family: Verdana, Helvetica, Arial;
}

dd {
	font-family: Verdana, Helvetica, Arial;
	
	margin-left: 15pt;
	margin-top: 10px;
}

.indented {
	margin-left: 20pt;
	margin-right: 20pt;
}

H1{
	font-family: Verdana, Century, Helvetica, Arial;
	font-size: 32px;
}

H3{
	font-family: Century, Verdana, Helvetica, Arial;
}
H4{
	font-family: Century, Verdana, Helvetica, Arial;
	margin-top: 0px;
	margin-bottom: 0px;
}

.doublespaced
{
	margin-left: 20pt;
	margin-right: 20pt;
	margin-top: 10pt;
}

.subtitle{
	text-decoration: none;
	font-family: Century, Verdana, Helvetica, Arial;
}
	

A.button {
	font-family: Verdana, Helvetica, Arial,Century ;
	color: #3E4175;
	text-decoration: none;
}

.tdBtn {
        display:block;
        background-color: #E0E0E0;
        width: 100px;
        text-align: center;
        font-family: Verdana, Helvetica, Arial,Century ;
        color: #3E4175;
        text-decoration: none;
}

td.leftNav {
        padding: 4px 0px 3px 5px;
        background-color: #D0D0D0;
        width: 120px;
}

.noMargin {
	padding: 0px;
	margin: 0px;
	valign: bottom;
}


.featureTable
{
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-color: #000099;
	border-width: 2px;
	border-style: inset;
	width: 230px;
	

}

P.featureText
{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}
a.featureText
{

	font-size: 90%;
	text-decoration: none;
	color: red;
	
}

.featureTitle
{
	background-color: #EEDD82;
	color: #fafaff;
	font-size: larger;
	text-align: center;
}
