@charset "utf-8";
/* CSS Document */

a,b,button,div,i,img,input,label,p,select,span,textarea	{ -moz-box-sizing:border-box; padding:0; margin:0; box-sizing:border-box; }

html,body{ height: 99%; width: 100%; margin-top:0px; margin-left:0px; margin-right:0px; margin-bottom:0px; background-color:#E5E5FF; }

a{text-decoration:underline; font-size:13px; font-family:Arial, Helvetica, sans-serif;} 
a:link{color:#00C;}
a:active{color:#00C;}
a:visited{color:#00C;}
a:hover{color:#DD00DD;}

#Title:active{color:#018;}
#Title:hover{color:#45F; text-decoration:underline; border-bottom:#45F 1px solid;}


.MainBox{height:8%; width:100%;}
.ContactsModal{ position:absolute; display:none;  background:#6B88AB; filter:alpha(opacity=80); opacity:0.80; width:100%; height: 100%; text-align:center; margin:0px 0px 0px 0px; z-index:200000;}
.ContactsModalBox{ background:#fff; border:1px #000 solid; border-radius:8px; position:absolute; display:none; height:480px; width:800px; top:20%; left:8%; border:0px solid #DDD; z-index:201000; background-repeat:no-repeat; text-align:left; white-space:nowrap; font-family:"Times New Roman",Times, serif;}

.CMBLeft{float:left; width:38%; height:92%; overflow:hidden;}
.CMBCenter{float:left; width:38%; height:92%; overflow:hidden;}
.CMBRight{float:left; width:22%; height:92%; overflow:hidden;}
.CMBLabelL{float:left; width:44%; text-align:right; height:20px; margin:3px 0 0 0;}			  
.CMBLabelR{float:right; width:54%; text-align:left; height:20px; margin: 0 0 3px 0;}	
.CMBLabelRow{display:block; float:left; width:100%; text-align:right; height:20px; margin: 0 0 3px 0;}	
.CMBCheck{height:20px float:right; text-align:right;}

.ContactSave{display:none;}		  

.ContactsCenter{position:relative; height:96%; width:100%; margin:0; padding:0; text-align:center; background:inherit; }

.ContactsCenterTitle{	position:relative; height:6%; width:100%; text-align:center; background:inherit; font-family:Arial,Helvetica,sans-serif; font-size:24px; font-weight:bold; text-align:center; color:#4C4CC3;}
.ContactsCenterTop{position:relative; height:5%; width:100%; margin:0; padding: 6px 0 0 0;  text-align:center; background:inherit; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; text-align:center; color:#000	}




#ReloadFrame{ float:right; margin:4px 4px 0 0; height:24px; width:24px; font-size:18px; text-align:center; vertical-align:top;}
				   
				   				   
.ContactsTitle{position:relative; float:left; position:relative; height:30px; width:100%; padding:6px 0 0 0; background:inherit; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; text-align:center; color:#895671;	}

#Header { border:1px #888 solid; border-top-left-radius:6px; border-top-right-radius:6px; margin:0 auto 0 auto; position:relative; height:24px; overflow:hidden; text-align:left; top:5px; width:90%;
 background:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(224,224,224,1) 50%, rgba(224,224,224,.9) 80%, rgba(192,192,192,.25));
 background:-webkit-gradient(linear,0 0,0 100%, from(rgba(255,255,255,1)), color-stop(.50, rgba(224,224,224,1)), color-stop(.8, rgba(224,224,224,.9)), to(rgba(192,192,192,.25)));
}
#Header div { float:left; font-family:Calibri, Arial,Helvetica,sans-serif; font-weight:bold; line-height:19px; }
#List{ position:relative; float:none; height:85%; width:90%; margin:0 auto 0 auto; text-align:center; background:#FFF; border:1px solid #999; overflow-y:scroll; overflow-x:hidden;}

.ContactsButtons{height:20px; width:auto; padding: 0px 4px 0px 4px; text-align:center; font-family:Arial,Helvetica,sans-serif; font-size:10px; font-weight:bold; color:#000; }
	  
.ContactsCard{border:1px solid #444; border-top:none; position:relative; float:left; overflow:hidden; white-space:nowrap; height:24px; width:100%; margin:0; padding:0; text-align:left; }
.ContactsCard:hover { background:rgba(255, 255, 0, .2); }
.ContactsCard div {float:left; font-family:Cambria, Georgia, "Times New Roman", Times, serif; overflow:hidden; line-height:24px; text-overflow:ellipses; white-space:nowrap; }

.{position:relative; overflow:hidden; white-space:nowrap; height:75%; width:240px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin: 0px 0px 0px 75px; padding:5px 5px 5px 5px; text-align:left; background:none; font-family:Arial,Helvetica,sans-serif; font-size: 12px; font-weight:bold;}  

.TextBottom{position:relative; width:64px; height:10%; float:left; color:#f8f8f8;}
.ContactsOpenImage{float:right; height:16px; width:16px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; cursor:pointer; }

			  
















